[2018-01-09 13:30] NoNameProvided opened #1 "bug: step definitions never get's reloaded"
When using `npx cypress open` to write tests, it would be great to have auto-updated step definitions. Now they are loaded only once on start only so I need to re-run cypress every time what is very slow.

[2018-01-15 18:25] eaustin commented on #1
I believe have the same problem.

[2018-01-15 18:50] NoNameProvided commented on #1
Here is the gist: https://gist.github.com/NoNameProvided/14ba8dee2529de258804454d2c3c99c8

[2018-01-20 03:03] lgandecki commented on #1
He guys, github didn't automatically make me watch my own repo, so I missed those comments! Watching it now and will be more responsive.

Yes, I wanted to have something out of the door because I needed it for one of my projects as well. Reloading after changes is not optimal, but it worked from the client perspective and allowed me to use cypress while having cucumber-like specs.

@NoNameProvided

[2018-01-20 03:14] lgandecki commented on #1
At this moment the only way to incorporate your changes is such that they will look like my commits, not yours, so please make a fork in the next few days, so the credit to your work can be visible in the project.
Thanks ! :)

As for reloading when step_definitions change - that's tricky, because cypress doesn't know about them till the run time. Having said that, we could use the same AST parsing

[2018-01-22 22:09] NoNameProvided commented on #1
I have created a new repo because you weren't responsive and we write in our code in TypeScript anyway.

Yes, that's the reason why I contribute to various open-source projects, but sometimes it's just easier to take your own way.

[2018-01-22 23:10] fcurella commented on #1
Hi,

I've got this working with features and step definitions reload. Should I send a PR to NoNameProvided/cypress-cucumber-preprocessor or here?

[2018-01-23 03:27] lgandecki commented on #1
@fcurella Please send it here. The other repo is empty, the guy also doesn't have access to the npm name cypress-cucumber-preprocessor. He's made two tiny changes while I wasn't responsive for ~10 days! I put a lot of work into this, and don't see a reason why this should be moved somewhere else and why I should lose control? I've been doing OpenSource for 10 years now and I haven't seen a situati

[2018-01-23 12:06] NoNameProvided commented on #1
@lgandecki

Chill a little, this tone won't help. I haven't made a fork because I use a different language than you do and I have decided to implement everything from scratch anyway.

Currently, now it's totally diverged as here is one file hold everything for us it's structured into files, a few more features have been added also. So yes I will make a different repo because I don't want to wait o

[2018-01-23 13:37] lgandecki commented on #1
won't help with what? :)

you took my code, put it as a gist without any credit to my work (that's a violation of the MIT license, btw), made a tiny change to it but pretended you've done much more, and since you didn't fork you made it hard to compare and see that. Just because some piece of code is on github doesn't mean you can do whatever you want with it, and tell people to chill when being c

[2018-01-23 13:43] lgandecki commented on #1
@fcurella I'd love to add your contribution here and give you the credit deserved, would you be so kind to fork this one, paste your changes over the files in this repo and create another PR? I've just tried to use your fork but since it has a different commit history, github won't allow me to compare/merge this properly :(

[2018-01-23 15:57] fcurella commented on #1
@lgandecki sorry about the confusion, I had the impression that you and @NoNameProvided were working together. I'll close the original PR and submit it here.

[2018-01-23 16:24] NoNameProvided commented on #1
You are feeling offended as I can see and your tone reflects that, but I don't get it why.

First, do you get it that it is a secret gist? So no one can see it just who visits it through this links posted here in your repo. You act like I am getting really famous now because of that gist without crediting you anything. Just to be fair I will add your license so if I would get a billion $ offer fro

[2018-01-23 16:48] fcurella opened #3 "feature: option to customize mocha template"
right now the `.feature` files gets converted to a mocha test using a hardcoded template. Would be nice if we could pass an option to the preprocessor to override the template

[2018-01-23 16:59] lgandecki commented on #1
I removed the out of the topic discussion. You don't have to use this NoName, you are right. I never asked you. I only ask you to respect my work and don't steal it or bash it with no arguments (happy to see how you made things better, when you finally decide to enlighten us).

@fcurella thanks, I will review this during the next 24 hrs :-) I already looked briefly but I want to test and understan

[2018-01-24 18:58] lgandecki commented on #3
Could you explain a bit more what's the usecase here? Maybe an example of a different template/structure you would possibly like to use?

[2018-01-24 22:17] fcurella commented on #3
I'd like to use a template that would gather the scenario's tags and skip the test if they don't match a specific list.

[2018-01-25 05:16] lgandecki commented on #3
oh, I see. Like a @focus or @ignore. Where would you put the list that decides what to ignore/what to exclusively focus on?

[2018-01-25 15:23] fcurella commented on #3
I'm using an environment variable called `CYPRESS_TAGS`, which I then read with `Cypress.env('TAGS').split(',')`.

[2018-01-25 23:28] fcurella commented on #3
Another use case I just found is adding my own `beforeEach`.

Specifically, the app I'm testing stores the authentication token in a cookie. But because the template is rendering every step as a different test, Cypress is clearing the cookie after the login. So my solution was to add:

[code]

To the template, and that cookie is retained through the feature.

[2018-01-26 17:44] #1 closed

[2018-02-01 21:14] serviax opened #6 "Error: ENOENT: no such file or directory, open '..\cypress-cucumber-example\node_modules\cypress-cucumber-preprocessor\temporary-..\cypress-cucumber-example\cypress\integration\Google.feature.js'"
Hi,

Thanks for this nice project!

I tried to run this example but unfortunately encountered some problems when trying to run it.
These are the steps I took:
`git clone https://github.com/TheBrainFamily/cypress-cucumber-preprocessor.git`
`npm install`
`node_modules\.bin\cypress open`
Then tried to run test "Facebook.feature"

I ended up with this error:
Error: ENOENT: no such file or directory, o

[2018-02-08 16:53] fcurella opened #9 "eslint plugin"
I think we should create a `eslint-plugin-cucumber` that adds `given`, `when` and `then` to the environment globals (see https://eslint.org/docs/developer-guide/working-with-plugins#environments-in-plugins), so we don't need to add `/* global given, when, then */` to every step definition file in order to silence the linter.

I don't know if you'd rather create a separate repo, or host both packag

[2018-02-09 15:50] fcurella commented on #9
Note that there's already a module called [`eslint-plugin-cucumber`](https://www.npmjs.com/package/eslint-plugin-cucumber) on npm, but it doesn't provide any globals.

[2018-02-12 17:20] alopezsanchez opened #10 "Error on Linux machines"
Hello.

I'm trying to use the library, but it throws an error on my Linux machine (Ubuntu 16.04). On Mac works fine.

![screenshot](https://user-images.githubusercontent.com/15221596/36109950-469b862c-1021-11e8-9b16-13457fe2ce70.png)

[2018-02-13 10:03] k-stasevich commented on #10
@alopezsanchez , yes, same error, please owner help

[2018-02-13 10:09] k-stasevich commented on #10
Currently I am on 0.0.2  it is working fine now. Waiting for update!

[2018-02-18 17:43] perceboisElisa opened #12 "BDD with Scenario Outline and cypress.io. Is it already possible to use it with cypress?"
Hi,
I would like to run a feature file containing a "scenario outline" but it does not working. My data in "Examples" step is never read...

See my feature file:
Feature: The Phones app
  I want to test my AngularJS app using Cucumber and Cypress
Scenario Outline: Search the details of a phone
    Given a list of phones on phones store
    When I search the phone <text> in search input
Examples:

[2018-02-19 03:34] lgandecki commented on #9
Hmm, for that reason (and because I don't really like globals) I "import" the given when then like so:

const { when, then } = require("cypress-cucumber-preprocessor");

You could add globals to your eslint config, but I'm guessing you don't like that solution neither?

Eslint plugin is possible.. I think it should probably be more around the lines of eslint-plugin-cypress-cucumber , because it's

[2018-02-19 04:00] lgandecki commented on #6
I think this was fixed in 0.0.3 and the example was still using 0.0.2 - hence failing on Windows. I updated the example, please check again @serviax . Thanks for reporting! If this still doesn't work please let me know, if it's a different error message create a new issue, I'm closing this for now as I don't think this could possibly error out like that anymore.

[2018-02-19 04:00] #6 closed

[2018-02-19 04:27] lgandecki commented on #10
Looks like it's watchify erroring which is itself required by @cypress/browserify-preprocessor.. not sure if this is directly related to our package @fcurella would you have an idea is this something we should be able to fix internally, or should we look into the browserify preprocessor itself?

[2018-02-19 04:40] lgandecki commented on #12
This is not currently supported :-( and not very trivial. We would have to generate multiple scenarios using createTestFromScenario for every row in the Example section in the scenario outline. Doable, but would probably take a couple hours. Would obviously love a PR :-) I prepared a test for it - to start the implementation of this functionality I'd recommend uncommenting it and trying to make it

[2018-02-20 03:14] fcurella commented on #9
Somehow I  missed you could add specific globals directly into the eslintrc. I’ll close this issue.

[2018-02-20 03:14] #9 closed

[2018-02-20 15:38] fcurella commented on #10
Doesn't the build on circle-ci run on linux? why is it working there?

[2018-02-20 15:49] lgandecki commented on #10
@fcurella  I imagine this is because on ci run we don’t do “watch”, so that part of code is never executed..? The watcher is somehow problematic, I think

[2018-02-20 15:57] fcurella commented on #10
we really delegate everything to `@cypress/browserify-preprocessor`, so the first thing I would try is if regular js tests work with just that.

I'll try to set up an ubuntu VM and try.

[2018-02-21 22:57] fcurella commented on #10
I have tried on a VM and I can reproduce the issue, but I can't figure out why it's happening.

We are not using `fsevents`, we are delegating all the watching to the `@cypress/browserify-preprocessor` plugin. If `@cypress/browserify-preprocessor` works, so should `cypress-cucumber-preprocessor`

[2018-02-26 19:44] mgalindo commented on #10
I am experiencing the same issue, Ubuntu 17.10

[2018-02-27 12:18] lgandecki commented on #10
Thanks for reporting! @mgalindo @k-stasevich @alopezsanchez could you guys confirm that the watch mode works properly on Linux, when NOT using this package?
Please do (I took those from the official https://github.com/cypress-io/cypress-browserify-preprocessor
 ):

[code]
And put in your plugins file:

[code]

Since none of my guys, nor @fcurella (which defacto became another author of this packag

[2018-02-28 11:26] vineetkumar1511 commented on #10
I am still getting the same error.

[2018-02-28 11:29] lgandecki commented on #10
@vineetkumar1511 just to confirm, do you mean you get the same error even without using our plugin, just browserify-preprocessor directly?

[2018-02-28 11:40] vineetkumar1511 commented on #10
Yes I am using browserify preprocessor still i am getting the fsevent error.

[2018-02-28 14:47] mgalindo commented on #10
@lgandecki,
  I am happy to assist testing this, I am very new to cypress so I am going to need a bit more directions on how to test.
Should I use you example cucumber-preprocessor example? or something else.

[2018-02-28 16:18] lgandecki commented on #10
@mgalindo could you verify that cypress works in linux at all with the watch mode? Just install cypress in any project, start it up, and change something in the cypress/integration folder, see if it reloads.
@vineetkumar1511 thanks! the weird thing here is that apparently cypress does use this preprocessor by default.. so not sure why it would break when using explicitly.

[2018-02-28 16:21] BenoitAverty commented on #10
I can confirm that cypress does work in linux. Only when using cypress-cucumber-preprocessor and launching a feature do I see this error.

[2018-02-28 16:38] lgandecki commented on #10
@BenoitAverty only then? @vineetkumar1511 was claiming something else. Can you please do what I asked a few posts above, and try to run cypress with @cypress/browserify-preprocessor directly? without the use of this plugin?

[2018-02-28 16:53] mgalindo commented on #10
@lgandecki I just tested as you requested and it works in Linux, Ubuntu 17.10
This is what I did:
- Took one of the examples from the cypress example recipes repo https://github.com/cypress-io/cypress-example-recipes#form-interactions.
- Installed the Browserify plugin, enabled the plugin as instructed above.
- If I change something in the spec file the test is executed again, no crashes.

[2018-02-28 17:12] maoberlehner opened #15 "It is not possible to use regular expressions for step definitions"
I'm used to [nightwatch-cucumber](http://mucsi96.github.io/nightwatch-cucumber/) which uses regular expressions by default. It would be very, very useful to have the same possibilities with this package.

Thank you, for working on this package.

[2018-02-28 17:17] lgandecki commented on #10
Thank you @mgalindo , looks like I will have to install desktop version of ubuntu in a vm to test what’s going on, because now I’m seriously confused :)

[2018-02-28 17:31] mgalindo commented on #10
@lgandecki Ok, let me know if I can be of any help.

[2018-03-01 01:28] lucetius commented on #10
try to remove `const {given} = require('cypress-cucumber-preprocessor')` `const {when} = require('cypress-cucumber-preprocessor')` `const {then} = require('cypress-cucumber-preprocessor')` requires from `cypress/support/step_definitions/*.js` files

[2018-03-01 06:48] vineetkumar1511 commented on #10
Below is my basic test:-
[code]
below is my plugin file:-
[code]
this is working example in ubuntu 16.

If I use cypress-cucumber-preprocessor then it won't work.Below is the code using cypress-cucumber-preprocessor

plugin/index.js
[code]
basic.test.js
[code]

this gives `error: Cannot find module 'fsevents' from '/home/vineet/data/Fujin/node_modules/chokidar/lib'`

@lgandecki sorry I forgot dele

[2018-03-01 07:01] lgandecki commented on #10
@vineetkumar1511 I don't understand.. Did everything work after removing requiring of the given/then/when and using the globals?

@lucetius suggests that it should work if you remove them, I'm not sure.

So basically change

[code]
to
[code]

[2018-03-01 07:16] lgandecki commented on #15
Thanks @maoberlehner !

We are using part of cucumber which is cucumber-expression to resolve the expressions.

I think it should work, but maybe the syntax is a bit different.

Could you give it a try following these docs: (we will add them to the readme btw, so that's more clear where to look)

https://github.com/cucumber/cucumber/tree/master/cucumber-expressions#regular-expressions-regular-expr

[2018-03-01 07:47] lgandecki commented on #10
Cool thanks, so this is workable :) Without code changes. I guess the requiring should not be recommended then.. I wonder why this is breaking. Very weird.

@mgalindo @BenoitAverty @alopezsanchez @k-stasevich

Could you guys give this a try as well? Use the globals. I will leave this open for a few days and close it if it seems to work for everyone.

Thanks @lucetius !

[2018-03-01 08:17] BenoitAverty commented on #10
I will try tomorrow, thanks for the help :)

[2018-03-01 08:50] maoberlehner commented on #15
Ohhh, yeah I've used /^stuff (.*)$/ my fault. Thanks for the quick response!

[2018-03-01 08:50] #15 closed

[2018-03-01 15:55] fcurella commented on #10
@lgandecki if that's the issue, I think it's worth mentioning it in the documentation.

[2018-03-01 17:17] mgalindo commented on #10
I just tested commenting out the line below and Cypress is no longer crashing. At least my simple example works ok
//import { given } from "cypress-cucumber-preprocessor";

[2018-03-02 08:02] BenoitAverty commented on #10
Same behavior for me. Commenting the import and using globals makes it no longer crash.

[2018-03-02 08:07] lgandecki commented on #10
@BenoitAverty would you be able to test one more thing - add some kind of a js file and try to require it, I just want to confirm that the problem is when requiring the given/when/then, not with requiring anything.

Or @lucetius ? :) and if requiring a „helper” breakes, could you see whether it still breakes when not using the cucumber preprocessor but just the cypress/browserify?
We will have a f

[2018-03-02 08:17] BenoitAverty commented on #10
I imported a file from the project and it worked fine. The problem seems to be only when importing given / when / then.

[2018-03-02 08:26] lgandecki commented on #10
Great thanks a lot @BenoitAverty !

[2018-03-02 14:30] lucetius commented on #10
@lgandecki I confirm that importing "helper" files works fine

[2018-03-02 16:30] leegee commented on #9
Can `cy` be imported.

Love the library on my first day, but for the ugly globals apparently enforced on us.

[2018-03-02 16:44] lgandecki commented on #9
@leegee I'm not sure I understand.. Do you want to import cy instead of using it using the one attached to the global context (window)? I would rather have that too - but it's not really up to us, you would have to ask on https://github.com/cypress-io/cypress - although I doubt they would be willing to do so since mocha already puts a lot of globals for you (describe, test, it, etc).

[2018-03-03 09:52] lgandecki commented on #10
I updated the docs, closing the issue. Thanks, everyone! :-)
Please let us know when you find more issues or need more features.

[2018-03-03 09:52] #10 closed

[2018-03-04 16:32] reaktivo opened #16 "fileServerFolder option is being used incorrectly"
First off, I would like to show my appreciation for this project, it's something that I've been looking for for a while now, and I'm glad you open sourced it!

The issue is that the `fileServerFolder` option is being used incorrectly to look for step definitions, when it actual use case is to allow `cypress` to start a local http static assets folder from this path.

I've created a PR here #17

[2018-03-04 16:37] lgandecki commented on #16
Hmm... I asked the cypress guys about where would be a good place to put support files like this and the answer was "that's a good question" ;-).
Could you explain a bit more in what cases the use of fileServerFolder for step_definitions is causing issues?
Or are you just worried (probably correctly) that we are mixing responsibilities here?

[2018-03-04 16:44] lgandecki commented on #16
Oh wait.. I think I get this ..

@dvelasquez @gpincheiraa  I think @reaktivo is right, somehow I assumed that the fileServerFolder is the path to the support/ and you just changed the default there. But now I see that those are two completely separate paths. It was my mistake to merge it.
@reaktivo do you have an idea what would be a better way of using a custom folder here?

@dvelasquez @gpinchei

[2018-03-04 16:50] reaktivo commented on #16
Ah! I now see you're referencing #5, might make sense to create a namespaced object in the same `cypress.json` config file which specifies `cypress-cucumber-preprocessor` options, like where step definitions should be found.

[2018-03-04 16:53] lgandecki commented on #16
yeah, that could make sense... I wish we had some feedback from the cypress guys here..
@brian-mann @bahmutov  what do you think of us (or other plugins) adding custom properties to the cypress.json ?

[2018-03-04 18:51] dvelasquez commented on #16
@lgandecki sure, the default path of installation of cypress is in the root of the project, but for me, that default doesn't match my current scaffolding. This is directory structure:
[code]
So, in my case, i don't want to keep a cypress folder polluting the root of the project.
But, this plugin has the directory /cypress/support/ hardcoded, so, what i try was just to make this module to be aware

[2018-03-04 18:53] brian-mann commented on #16
If you rename all of the cypress folders per configuration it should/will not create a `cypress` folder.

https://docs.cypress.io/guides/references/configuration.html#Folders-Files

[2018-03-05 10:02] lgandecki commented on #16
@brian-mann yes it won't create cypress folder but then we still have to tell the cucumber-preprocessor where to look for step_definitions.
It would be great to have some kind of a "cypressRoot" configuration (that would point to cypress/ by default). I think @dvelasquez assumed that the fileServerFolder is that (and with the PR from him I assumed that's indeed the case).

I see two options here:

[2018-03-05 11:15] leegee commented on #9
Understood. Thanks!

[2018-03-05 12:33] dvelasquez commented on #16
@lgandecki that was the case.

In this scenario, i'll vote for a package.json configuration, like the custom configurations for "jest" or "nightwatch".

[code]

[2018-03-05 13:53] reaktivo commented on #16
@brian-mann is there a best practice for defining plugin configs? I would rather read the both the cypress config and it's plugins from the same file. And considering we have access to the parsed config at plugin loading time, we might as well pass that config:

[code]

[2018-03-06 07:56] leegee opened #18 "Use with Webpack?"
Is this the correct way to employ your plugin with webpack?

[code]

[2018-03-06 19:33] jlin412 opened #19 "Does tags and hooks work?"
I don't mentioning anyway mentioning if tags and hooks work.
Also, I like to mention that multiple features execution seem to be a problem.
https://github.com/TheBrainFamily/cypress-cucumber-example/issues/2

[2018-03-08 20:00] jlin412 opened #20 "Show a better error message when using import instead of require"
syntaxError: 'import' and 'export' may only appear at the top level (8:0) while parsing /Users/jason.lin/cypress-cucumber-example/cypress/integration/login.feature while parsing file: /Users/jason.lin/cypress-cucumber-example/cypress/integration/login.feature

[code]

[2018-03-08 21:57] mgalindo opened #21 "Feature file Background section issue"
The Background section in the feature files is treated as an Scenario, in other words it is only executed once and should be executed before each scenario.
This is coming from the cucumber.io docs
"_Occasionally you'll find yourself repeating the same Given steps in all of the scenarios in a feature file. Since it is repeated in every scenario it is an indication that those steps are not essential

[2018-03-09 06:01] lgandecki commented on #20
Hey @jlin412 The way we put the files together use require, import/export is not native in nodejs (or browsers for that matter) anyway :)
We should update the docs to mention that.
In the future we could possibly transpile the imports to requires, but not sure how necessary  or high priority is that (as always, PRs are welcome :) )

[2018-03-09 06:02] lgandecki commented on #21
yeah, this is not implemented. Feel free to send a PR :-) working with this code is rather fun :)
@mbaranovski or @rshaikh mentioned they might want to give it a try, but as far as I know this is not in the works currently

[2018-03-09 06:30] lgandecki commented on #19
@jlin412 I answered there about the multiple features - I don't think that is actually a problem - this repo uses multiple features execution as a CI step.

As for tags/hooks. It's not that they don't work. They are not implemented, this is a very new project - we would love to accept a PR :)
I'm going to keep this open and eventually someone will pick it up.

[2018-03-09 06:31] lgandecki commented on #19
Btw, actually, it would be great, if not PR, if you could create separate separate issues for:
1) tags
2) hooks

and explain in both what functionality would you expect, if possible with external examples or links to cucumber documentation, that would greatly help whoever decides to implement it.

[2018-03-09 06:33] lgandecki commented on #16
quick update - if the cypress guy don't reply by the middle of next week I will implement it in cypress.json with the syntax proposed by @reaktivo

[2018-03-09 09:52] caznew277bw opened #22 "Problem running ScenarioOutline.feature"
Re raising issue here:

When I attempt to run the ScenarioOutline.feature I get errors

<img width="662" alt="screen shot 2018-03-09 at 09 51 04" src="https://user-images.githubusercontent.com/34125342/37201385-7382bd06-237f-11e8-8c52-97a5880eb0df.png">

Could it be missing some dependencies? All the others run ok.

When I run: node -v
I get: v8.9.0

[2018-03-09 10:24] caznew277bw commented on #22
I reinstalled everything and now its all good. Sorry for inconvenience.

[2018-03-09 13:22] reaktivo opened #23 "Feature request: Allowing bailing out on first error"
Pretty self descriptive, but currently when I run a feature test with multiple steps and one of them fails, they don't bail. I wasn't able to find a way to force the tests to bail, is this possible?

[2018-03-09 22:13] jlin412 commented on #20
I am using es6 so I am using import.
If I use require, it will work?  I will give a shot.

[2018-03-09 22:14] jlin412 opened #24 "To support tags"
tags is not a supported feature yet.

[2018-03-09 22:15] jlin412 opened #25 "To support hooks"
hooks are not supported feature yet

[2018-03-09 22:16] jlin412 commented on #19
You can close issue now if you want.
I create two separate issues for tags and hooks.
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/25
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/26

[2018-03-10 03:16] lgandecki commented on #22
No problem! Thanks for using the plugin, please let us know if you have any more problems :-)

[2018-03-10 03:16] #22 closed

[2018-03-10 03:18] lgandecki commented on #23
You would like the scenario to fail, not the whole feature, right?
That should be doable.. it will make the code a bit more complex on our side but I think this is a must have

[2018-03-10 03:19] lgandecki commented on #19
Thanks!

[2018-03-10 03:19] #19 closed

[2018-03-11 05:43] lgandecki commented on #20
For now we should detect the import/export and throw a better error message, saying that "import is currently not supported, please use require". Help appreciated if someone wants to take a stab :)

[2018-03-11 05:50] lgandecki commented on #3
@fcurella I'm thinking more about this.. is the cookie removed in between steps of a single scenario? or between separate scenarios?

[2018-03-12 12:36] leegee opened #27 "Please take file/directory locations from `cypress.json`"
Please take file/directory locations from `cypress.json` so that we don't have to root our Cypress install in a directory called `cypress`

[2018-03-12 12:37] lgandecki commented on #27
Hello @leegee is this basically the same issue mentioned here - https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/16 ? That one I promised to resolve this week, I'm waiting a few more days for the cypress guys to give us some feedback.
If you feel like this issue will be closed by the other one, please close this one, thanks!

[2018-03-12 12:39] leegee commented on #27
yes, I think it is. thank you!

[2018-03-12 12:39] #27 closed

[2018-03-12 15:15] fcurella commented on #3
@lgandecki between steps, since each step is converted to a single test

[2018-03-13 09:51] imageica opened #28 "Given, When, Then keywords explicitly mapped"
Given, When, Then keywords are explicitly mapped, the basic cucumber rules are not getting followed. i.e we are allowed to create duplicate step with a different keyword. For instance given(`user navigates to {string}`) is valid as well as then(`user navigates to {string}`) is also valid.
I believe the vice versa should be the case, wherein cucumber should allow the use of any keyword to define in

[2018-03-13 13:30] lgandecki commented on #28
is there cucumber specification about this?

Please correct me if I'm wrong - Are you saying that if I declare it with given in step_definitions I should be able to use it as When in .feature file?

[2018-03-13 14:52] imageica commented on #28
@lgandecki  yes that is exactly what i am saying.
[cucumber wiki](https://github.com/cucumber/cucumber/wiki/Feature-Introduction) states that, "**Every scenario consists of a list of steps, which must start with one of the keywords Given, When, Then, But or And. Cucumber treats them all the same, but you shouldn’t.**" The reason cucumber treats them all same is to restrict step duplication and I t

[2018-03-14 05:49] lgandecki commented on #28
Makes sense. @imageica would you want to give this a try and send a PR? It should be easy to write a failing test (define a step as given in .js file but use it as When in .feature file), I'm happy to review and help if you need some pointers to start with :)
I do want this package to be driven by the community. The codebase is so small and so well tested that it should be a nice adventure to add

[2018-03-14 05:51] lgandecki commented on #16
@brian-mann @bahmutov guys? Any pointers from you? I feel like it should be up to you to establish patterns about plugins configuration. I'm implementing this tomorrow and will add a custom cypressCucumber object property to the cypress.json file if I don't hear back from you with different proposition. :)
Thanks!

[2018-03-14 06:55] lgandecki commented on #3
aside from the fact that it might be nice to have dynamic templates, I think preserving cookie and the local storage should be a default inside a scenario, what do you think?
Once this is done it will be much easier to do this properly:

https://github.com/cypress-io/cypress/issues/686

but we can have a temporary solution . This is not really usable if we clear cookies and local storage betwen ev

[2018-03-14 07:21] lgandecki commented on #23
@reaktivo Please install 0.3.0 and verify if that's what you meant - if yes, please close this issue. Thanks!

[2018-03-17 02:13] imageica commented on #28
@lgandecki I would definitely like to contribute to getting this issue resolved. Can you give me some pointers or some starting point?

[2018-03-18 10:57] reaktivo commented on #16
Yesterday I played around with some different solutions

1. Adding a `cypressCucumber` key to `cypress.json`

I gave this idea a try and it kind of felt prone to error. Considering cypress config options may also be passed via env variables, cli `--config` flags, etc, having `cypress-cucumber-preprocessor` read the config json file directly without taking into account the previously mentioned sour

[2018-03-18 11:06] lgandecki commented on #16
Thank you so much for the research @reaktivo !
I'm still conflicted what to do about this. You are right.. That's why I was hoping to get some input from cypress guys, I asked about this basically the moment I created a plugin, and I also asked Brian about this in person recently...
This is, as far as I know, the only existing cypress plugin not made by the cypress guys, so it's hard to even get s

[2018-03-18 13:43] reaktivo commented on #23
@lgandecki At first I thought it was not working as expected but I had forgotten to do `npm link`, I've double checked and it works fine. Thanks!

[2018-03-18 13:43] #23 closed

[2018-03-21 16:48] lgandecki commented on #16
@reaktivo  how would you feel about something like this - https://github.com/davidtheclark/cosmiconfig ?

[2018-03-23 15:04] 0xR opened #30 "Require doesn't resolve from the expected path."
In a file inside `cypress/support/step_definitions` I require a file `./bla`. When I view the network tab of the devtools I see this error:

[code]

I expect it to resolve from `cypress/support/step_definitions` and not `cypress/integration`

[2018-03-23 15:48] 0xR commented on #30
Importing relative to `/integration` does work. However restarting cypress gives this error:

[code]

[2018-03-24 14:16] lgandecki commented on #30
Oh, interesting. We will fix this soon, thanks for letting us know!

[2018-03-27 16:25] GregorD1 opened #31 "Is the "And" keyword supported ?"
Hi - I am having trouble getting the "And" keyword to work - is it supported ? Thanks for any time.

[2018-03-28 08:47] StefanNieuwenhuis opened #32 "Combine cypress-cucumber-preprocessor in combination with TypeScript"
Hi there,

I'm trying to combine an `angular-cli` app with `cypress`, `cypress-cucumber-preprocessor` and `@bahmutov/add-typescript-to-cypress`, but I keep getting the following error:

When I change the extension of my definition files to *.js it suddenly works!
Is there a way to make it work for *.ts files as well? And how do I do that?

This is my feature file -- welcome.feature:
[code]
This is

[2018-03-29 12:50] dimaslz opened #33 "Run single fearute"
Hi, first nice work!.

My doubt is I want to run a folder inside `integration` called ProjectName for example, do a command like `cypress run --folder ./cypress/integration/ProjectName` and will be executed all .feature files. Or something like setup a tag like `--tag @ProjectName`

The ida is use the same project to several applications to reuse the code.

Thanks!!

[2018-03-31 17:12] jbbn commented on #31
I had problems with this too.
For now I just repeating the word:

[code]
I took a look in the source code and it doesn't seem too hard to implement an "And" ability.
I'm planning to do a PR in the next week.

[2018-03-31 17:24] lgandecki commented on #31
@jbbn that shouldn't be hard to do and would be a great first contribution. :) If you don't figure it out I will do it next week. I need to also treat given/when/then/and all the same when matching, as other issue is pointing out. You can try that as well - it should make everything easier.

[2018-04-02 07:25] GregorD1 commented on #31
Thanks Guys, That gives me a workaround in the meantime.
I've been using the agile test management tool Hiptest to author the tests with my customer and export into SpecFlow syntax, there are various export options SpecFlow, Cucumber, CSharp.  Is there a specific syntax that you are targetting ?

[2018-04-02 07:26] lgandecki commented on #33
Hello @dimaslz
Thanks!

Not sure if this is related to this particular plugin.

have you tried  ./node_modules/.bin/cypress run -s ./cypress/integration/ProjectName/*.feature ?

I just did and it worked for me, so I'm closing this for now.
If you meant something else please kindly comment again here and I will reopen the issue. :)

[2018-04-02 07:26] #33 closed

[2018-04-02 07:33] lgandecki commented on #31
Sorry @GregorD1 .. not sure what are you asking. We are using gherkin syntax that's used by cucumber.

[2018-04-02 07:56] GregorD1 commented on #31
Thanks - I had a doubt in my head after trying to get datatables working with my Cucumber export.....

  Scenario Outline: Define Recruitment Campaign Content (Panel Member Only) - Add Content (<hiptest-uid>)
    Given Recruiter navigates to CHS Community Portal
    And Recruiter has access to Campaign Management Module
    When Recruiter edits ${PageType}
    Then An image can be added to the con

[2018-04-02 07:58] GregorD1 commented on #31
Ah! the angle brackets have been taken out by the editor above.

[2018-04-02 08:10] lgandecki commented on #31
@GregorD1 I believe our syntax is based on this kind of syntax:
https://cucumber.io/docs/reference#scenario-outline

[2018-04-02 09:01] GregorD1 commented on #31
Thanks - I've re-authored my tests in the Hiptest tool and exported, it matches the syntax you have as per the reference. Thanks

[2018-04-03 08:06] lgandecki commented on #32
Hello. Thanks for making an issue!
Happy to help.
Could you:

a) make a small repro repository where this is broken
OR
b) clone this repo, change the creation of a pattern in index.js from **/*.js to **/*.ts and see if that works (if yes, we just need to add two globs , one for .js, one for .ts, should be super easy and I'd love to receive a PR :-) )
For b - just clone it, do npm install, npm link

[2018-04-03 13:46] lgandecki commented on #18
@leegee not sure, as I've never used it with webpack. Do you get an error? Could you give us more information? :)
A repository with a reproduction would be fantastic

[2018-04-03 16:45] lgandecki commented on #31
This is fixed in 0.4.0 , please give it a try, and if still doesn't work as needed please create a new issue.

[2018-04-03 16:45] #31 closed

[2018-04-03 16:46] lgandecki commented on #30
This is fixed in 0.4.0 , please give it a try, and if still doesn't work as needed please create a new issue.

[2018-04-03 16:46] #30 closed

[2018-04-03 16:46] lgandecki commented on #28
This is fixed in 0.4.0 , please give it a try, and if still doesn't work as needed please create a new issue.
Thanks for reporting!

[2018-04-03 16:46] #28 closed

[2018-04-03 16:48] lgandecki commented on #16
This is fixed in 0.4.0 , please give it a try, and if still doesn't work as needed please create a new issue.
Thanks for all the discussion and ideas. Once you set
  "cypress-cucumber-preprocessor": {
    "step_definitions": "/"
  }

in your package.json file it should ignore fileServerFolder.

Please let me know if it doesn't fix your problems.

[2018-04-03 16:48] #16 closed

[2018-04-04 12:24] lgandecki commented on #21
Fixed in 0.5.0 by @jmozgawa :-)

If it doesn't work the way you'd expect please create another issue or comment in this one. Thanks!

[2018-04-04 12:24] #21 closed

[2018-04-05 09:51] OllyNuralAND opened #37 "(Add Documentation for) Passing API return values between given/when/then"
Hi,

I'm using cypress-cucumber-preprocessor to e2e test an API, and am having trouble using cy.request due to it naturally needing to be chained.

In Cypress I would normally do

[code]

In the [example](https://github.com/TheBrainFamily/cypress-cucumber-example) given you use cy.visit, and I assume this stores it in the cy object? What is the best way to do this? Or is this not the correct way o

[2018-04-06 08:30] lgandecki commented on #37
Hello @OllyNuralAND
Thanks for using the package and the feedback :-)

Could you elaborate a bit more about: "when I want to split out the then into its own shared file etc it will become a nightmare!" (Could you maybe provide an example?)
and: " is it possible to use the world with this library?"

Do you mean using "this" keyword between steps?

This is still very new package and we are open to m

[2018-04-09 09:08] StefanNieuwenhuis opened #39 "Merge went wrong?"
I don't see the changes for TS support in master. Did the merge failed?
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/98e322212a3915262d68ae48473e07563ee2f6ba/index.js#L47

[2018-04-09 17:32] lgandecki commented on #39
Just published 0.6.0, thanks again!

[2018-04-09 17:32] #39 closed

[2018-04-09 17:32] lgandecki commented on #32
Done in 0.6.0

[2018-04-09 17:32] #32 closed

[2018-04-09 20:48] jmozgawa commented on #24
@lgandecki, @jlin412 Hey guys! We need to discuss how do we want to pass tags to the plugin. Unfortunately, the most obvious way of doing it (IMO), by passing arguments in command line `cypres run --tags tag_A tag_B tag_C` is not possible to achieve. AFAIK cypress does not accept any custom arguments.
So, that leaves us two options:
1. pass tags in an environment variable, or
2. propose a change i

[2018-04-10 21:53] stevepkuo opened #40 "Importing two files in shared.js from the same step_definitions folder will fail file2"
I upgraded to version 0.4.0, and put "cypress-cucumber-preprocessor": "^0.4.0" in package.json, and then did "npm install".
However I'm still seeing a similar issue as below:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/30

In my support/step_definitions folder there is implementations.js, helpers.js, and shared.js.

Inside shared.js
const implementations = require('./imp

[2018-04-11 08:16] lgandecki commented on #40
Hello @stevepkuo , thanks for reporting!
But this is a bit weird... I just tried in the current version and it worked..
If you could try with the newest version (0.6.0 ) that would be great, maybe I messed up the versions.
But if the problem still persists - could you make a simple reproduction?

I've tried:

[code]
and also
[code]

Feature file:
[code]

the files I require are trivial:

[code]
an

[2018-04-11 15:56] BenoitAverty opened #41 "Steps definitions are not executed"
I used this project successfully about a onth ago, and today I can't make it work anymore.

Whatever I do, I always get the error `Error: Step implementation missing for: I am on the "/" page`.

Here is my feature :
tests/e2e/specs/vue-cli-demo.feature
[code]

And the steps :
tests/e2e/support/step_definitions/common.js
[code]

The non-default paths are all correctly configured (I think)

I added

[2018-04-11 18:04] stevepkuo commented on #25
Is it possible to add a BeforeFeature hook? Such that whatever I specify in BeforeFeature will run before each feature file? (Such as clearing the test database)

[2018-04-11 22:51] stevepkuo commented on #40
Sorry, it was a mistake on my part. I didn't realize that for my team's project, plugins/index.js was ignoring/overwriting cypress-cucumber-preprocessor's index.js which contains the exact fix I wanted. Once I accounted for that, and used version 0.6.0, the problem went away.

[2018-04-11 22:51] #40 closed

[2018-04-12 02:52] lgandecki commented on #41
Sorry for the problems!
It would be great to have a simple repro..
another thing to try would be to use older version and see if that helps - that would at least give us something to work from :)

[2018-04-12 07:09] BenoitAverty commented on #41
Hey,

I will try to make a reproduction. I have tried with version 0.2.0 (which is the version I used last time), and the same problem is present, which tells me there's something wrong in my project but I can't figure out what.

[2018-04-12 07:29] BenoitAverty commented on #41
Here's a reproduction : https://github.com/BenoitAverty/vue-cypress-cucumber

[code]

[2018-04-12 08:33] lgandecki commented on #41
Thanks, it was much easier to debug it this way :)

There were two changes I had to make:

https://github.com/BenoitAverty/vue-cypress-cucumber/pull/1

one is that your step_definitions was in a non-default place, so unfortunately we need to use a custom config for that :-(
Another one was more trivial, looks like if you use "" in the feature file, then the step_definition has to use {string} inst

[2018-04-12 11:44] BenoitAverty commented on #41
Thank you ! The problem was the `{string}` tag. I had never seen that, is it specific to this implementation of gherkin ?

What threw me off was that the console.log("Hello") I had put in my step definitions was never shown. Something must have been swallowing the output of the script, so I thought it was never executed, but looks like it was !

The config for the steps definitions locations was p

[2018-04-12 11:44] #41 closed

[2018-04-12 12:27] lgandecki commented on #41
Happy to help

This is what we are using:

https://docs.cucumber.io/cucumber-expressions/

the thing that I'm not sure about though is whether we should match either :
given('I am on the "/" page')
or
Given('I am on the {string} page')
or only the latter.

[2018-04-13 07:12] lgandecki commented on #25
@stevepkuo  I don't think you shouldn be running things before feature itself, your scenario should be independent, and they should start with a clean state everytime. That's what you can use Background functionality for

[2018-04-13 12:09] BenoitAverty commented on #25
How would the hooks work ? Would they be defined in the feature files ? In the steps file ? (but then the question is, where are they placed).

I'd be happy to attempt a PR but I'm not sure how we want to design this.

[2018-04-13 12:16] lgandecki commented on #25
I think we would probably want to design it to resemble the cucumberjs hooks:

https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md

So, in step definitions.
I’m not sure what are the rules for how the before would work - do we make them work on file basis?

A good attempt might be to install cucumberjs and play with their functionality and then try to reflect it here.

[2018-04-13 12:44] BenoitAverty commented on #25
It seems that the hooks are "global" in the sense that we can't restrict them to a specific feature or scenario (which is normal I think). I think it might be better to define them in their own support file or folder with a new configuration option, similar to the ste_definitions folder.

[2018-04-13 16:02] lgandecki commented on #25
Yeah, I think that makes sense actually.
But that's more of a pattern. If someone wants they should be able to put those anywhere.

[2018-04-14 00:59] stevepkuo opened #42 "help with regular expressions"
Using version 0.6.0. I can't figure out how to incorporate regular expressions into the step function.

I'm trying to not only make 'exact' an optional word, but have the step function track whether 'exact' is included or not in the gherkin sentence. This is so my step function's logic can act on whether 'exact' was in the sentence or not.
Goal:
"Then I do a exact search" => step function paramete

[2018-04-17 07:31] BenoitAverty opened #43 "[Discussion] Should scenarios be a single test ?"
Hello,

Currently, each step in a scenario becomes a single test in cypress. This is expected and this is the way other cucumber frameworks do it.

However, this goes against cypress recommendations and best bractices because they consider that each test should be independant and able to run alone. This is kind of incompatible with cucumber behavior.

It is not only a "best practice" issue because

[2018-04-17 16:48] stevepkuo commented on #15
Hi, could you give an example of how you successfully used regular expression within a step definition? I think I had similar issues at (https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/42).
Thanks

[2018-04-17 16:57] lgandecki commented on #15
I tried a few things after your post, and I'm not sure if it works.. or if it ever worked actually. The {int} etc works, but regexps seem to be lost. Another thing I wanted to try is to test on a version around this time - since it seemed it might have worked by then :)

[2018-04-19 01:48] stevepkuo commented on #42
If using a direct regexp in the step definition is not currently available or won't be for a while, is it possible to define my own custom cucumber parameter types somewhere such as the following?
new ParameterType(
        'color',           // name
        /red|blue|yellow/, // regexp
        Color,             // type
        s => new Color(s), // transformer
        false,             // useFo

[2018-04-19 03:47] lgandecki commented on #42
both should be possible :) but I don't think either are supported yet. I will put a few hours into this today and will  let you know what I find.

[2018-04-19 07:48] BenoitAverty commented on #24
I think 2. should be done anyway. and in the meantime we can find a solution to make it work by another means.

[2018-04-20 06:02] KokilaGanesan commented on #37
Hi,

I am new to Cypress. I am in need to integrate cucumber with Cypress. Choose to use cucumber plugin hence choose the cucumber -cypress example to work with initially. ButwWhen I tried to select the folder "cypress-cucumber-preprocessor-master" in Cypress, the window simply stuck unable to import without any error message or image. Kindly suggest correct steps to execute the existing feature f

[2018-04-21 12:44] #42 closed

[2018-04-21 12:45] lgandecki commented on #42
I'm so sorry - the previous issue about regular expressions seemed to be resolved, so I assumed they worked, but they never did. I fixed them, will release a new version in a momen!

Thanks so much for reporting this!

[2018-04-21 12:49] lgandecki commented on #43
Fixed in 1.0.0 :) Again - Thanks so much!

[2018-04-21 12:49] #43 closed

[2018-04-21 12:50] lgandecki commented on #24
Knowing the response time from cypress I think it's much safer to just work on 2. environment variables are not too bad for things like that :)

[2018-04-24 17:15] stevepkuo commented on #42
Great, thanks a lot. This will help writing step definitions a lot more flexible.

[2018-04-25 10:49] lobor commented on #18
You can use
[code]

[2018-04-29 12:43] breeny opened #47 "Scenario outlines not pulling variable from examples"
In a test scenario I have written, I am trying to pull a variable from the examples table and have it in the test name, however it seems to not parse the variable from the feature file. In my case, I have a field called name that I am trying to use. I have tried it both as `<name>` and `"<name>"`.

![image](https://user-images.githubusercontent.com/2724571/39406715-97c2ead6-4bfe-11e8-94e0-c9172f77

[2018-04-30 03:32] maoberlehner commented on #15
Hey @stevepkuo and @lgandecki I have to admit, when I wrote the answer I didn't check if Regex actually did work, because I've already moved on with my project and just assumed I did something wrong. I see this was fixed (https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/42#issuecomment-383292357).

Sorry for causing confusion!

[2018-04-30 03:47] lgandecki commented on #47
I’ve never seen this work like that for the names of the scenarios. Could you verify the bevior with pure cucumberjs? It should be very easy - you have the feature file already, and your step definitions are almost copy paste (capitalize Given/when/then in the cucumberjs version and import them)

[2018-04-30 16:35] leegee commented on #18
Thanks!

[2018-04-30 16:35] #18 closed

[2018-04-30 16:36] lgandecki commented on #18
Very cool, thanks for helping @lobor :-)

[2018-05-17 05:58] aneesforgit opened #48 "How to use tags within feature files and create @RunWith for it?"
Hi,

I am trying to use tags like @smoke and @regression within features to create suites for my tests. Is there any way we can do this and run suites within runner class as we do with other cucumber tests?

[2018-05-23 11:08] lgandecki commented on #47
@7etrahedral looks like he wants to use the variable in the Scenario Outline: line, of which I don't seen an example in your link :-)

I hope that what's in the link works, we do have some tests for it :  https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/master/cypress/integration/ScenarioOutline.feature

[2018-05-23 11:18] 7etrahedral commented on #47
ah, I see..
mybad..
in that case, I also never see that kind of syntax before, since it should be create another scenario.

Thanks @lgandecki

[2018-05-23 11:40] vvanmol opened #49 "Latest release breaks Cypress Custom Commands"
Hello,

When I use cypress-cucumber-preprocessor@1.0.0 every call to my Custom Commands defined in cypress/support/commands.js (imported in cypress/support/index.js as expected) are not recognised and I get error message "There is not Cypress Command issued for this test".

If I switch back to cypress-cucumber-preprocessor@0.6.0 everything works as expected.

FYI I'm using Cypress@2.1.0 in both ca

[2018-05-29 13:03] fccoelho7 opened #50 "Change steps and scenarios to default features path"
Hello guys, I would like to change `step_defintions` path and `scenarios` to default `features` path proposed by Cucumber.

Following the structure:
[code]
Does it possible?

[2018-05-29 13:07] #50 closed

[2018-05-30 13:25] fccoelho7 opened #51 "Skip scenarios"
Does have any way to skip some scenarios by adding a tag `@skip` for example or another approach?

[2018-05-31 08:48] bensampaio opened #52 "Using import and export inside step definitions"
I am trying to use `import` and `export` inside step definitions but it constantly says that `sourceType: "module" is required`. I tried using `require` but then it still gives the same error since the required modules use `import` and `export` anyway. Is there a workaround for this? Thank you!

[2018-05-31 09:09] bensampaio opened #53 "Stubbing API requests and waiting for responses"
I have some tests written in cypress that stub some API requests, fill in forms, submit those forms and the ending result is dependent on the stubbed responses. That works really well. However, I am having some difficulties translating those flows of actions into gherkin scenarios.

An example:

login.js
[code]

In my opinion the logical way to convert this flow of actions to gherkin would be:

lo

[2018-06-04 09:00] lgandecki commented on #51
Not currently, there is #46 that implements this, would you like to take a look and review? It would be great to have another pair of eyes on it

[2018-06-04 14:19] lgandecki commented on #52
Hello. Is there a reason why you can't just use require in your tests? What are you importing?
could you make a repro?

We could possibly try to somehow rewrite imports to require internally but it is a few hours of work, at least :) As always - would love to take a PR!

[2018-06-04 15:54] bensampaio commented on #52
Well to give a very simple example we have a module with constants for HTTP methods like:

[code]

We want to make sure these constants are used all across JS files but we cannot `import` or `require` them in step definition files because `export` seems to not be allowed. However, `import` and `export` can be used in all other kinds of cypress files so I don't get the difference here. We are using

[2018-06-04 16:07] lgandecki commented on #52
To have cypress work with .feature files what we do here is we "transpile" them into .js. Our code reads the feature file and based on it creates a js file (one per .feature), and that's what cypress gets to execute. The problem is - since it's all in one file, and import/export has to be at the top - it doesn't work out of the box.

take a look here:
https://github.com/TheBrainFamily/cypress-cucu

[2018-06-04 17:19] michelle-lim commented on #24
@lgandecki How would you run tags using an environment variable?

[2018-06-07 17:33] vlavellauruit commented on #30
I'm currently under this issue too. I'm working with the v 1.0.0. I can't figure it out why this is happening

[2018-06-08 14:38] kayvanbree opened #54 "Cypress run in Jenkins"
When I run cypress run in Jenkins like this:

[code]

With this Dockerfile:

[code]

Cypress will raise an error. It can't find spec files within cypress/integration/.

Does cypress-cucumber-preprocessor work with the cypress run command?

[2018-06-08 23:09] rickschubert commented on #30
I am having the same problem as @vlavellauruit, both on 0.6.0 and 1.0.0

[2018-06-09 18:08] stevepkuo opened #55 "Gherkin test steps are logged out of order in latest cypress 3.0.1"
For the latest Cypress 3.0.1, is anyone else seeing all the "LOG Gherkin_step_name" bunched up at the end?

Example printout in cypress interactive mode:
Feature name
Cypress actions and assertions
Cypress actions and assertions
....
Cypress actions and assertions
Cypress actions and assertions
LOG gherkin_step_name1
LOG gherkin_step_name2
LOG gherkin_step_name3

Instead of the appropriate:
Featur

[2018-06-12 01:18] stevepkuo commented on #55
Resolved per explanation at https://github.com/cypress-io/cypress/issues/1913 . Promises were being mixed into the code incorrectly which causes some kind of race condition.

[2018-06-12 01:18] #55 closed

[2018-06-13 04:46] breeny commented on #54
cypress-cucumber-preprocessor works within Jenkins (we have it in our build pipeline).

Perhaps your plugin index.js isn't being copied correctly - have you checked that the full `cypress` folder is being copied correctly within the container?

[2018-06-13 08:11] kayvanbree commented on #54
Okay, that's good to know. I'll check if the cypress folder is actually filled and if index.js is copied correctly!

[2018-06-13 08:39] lgandecki commented on #54
@kayvanbree it should work. Please let us know so we can either try to help out or close this issue :-)
@breeny thanks for your input!

[2018-06-13 19:15] PointmanDev commented on #24
@lgandecki I think this feature would be great. I would expect it to essentially work the inverse of the RP for the @ignore tag. A list of tags would be suppled in an environment variable and the preprocessor would ignore any tests that did not have a matching tag.

[code]

@login as a tag only runs tests in feature files that have the @login tag. @user_login only runs the background of the featur

[2018-06-14 09:32] kayvanbree opened #56 "Webstorm doesn't recognize step definitions"
I don't really know if I should ask this here, but Webstorm doesn't recoginize the step definitions of this plugin because the steps are given, when, then. Webstorm does recognize the official cucumber package's Given, When an Then (capitalized).  Webstorm recognizing step definitions is extremely helpful in preventing duplicate step definitions.

[code]
![webstormnotrecognizingcypresscucumber](ht

[2018-06-14 09:37] kayvanbree commented on #54
I think I can get it to work. The only problem I have now is that I run my application in Jenkins with `ng serve`, which never exits, so I can't run cypress and Jenkins hangs.

[code]

I got this running locally like this:

1. Run `docker build -t nameof/image -f Dockerfile.cypress`
2. Run `docker run -p 4200:4200 nameof/image`
3. In a separate powershell, run `docker exec <container_name> npm run

[2018-06-14 09:42] kayvanbree commented on #54
This might be more a Cypress problem though.

[2018-06-14 09:42] #54 closed

[2018-06-20 09:04] lgandecki commented on #56
I was thinking about this as well...
I don't really like the fact that the cucumber functions are called with capitalized letter (suggesting a class),
but if the existing tooling relies on that - let's add it. For the backward compability we would have to export given/when/then as both Capitalized and lowerCase.

@kayvanbree Would you like to send a PR for this?

Adding a simple test - where you d

[2018-06-20 09:06] lgandecki commented on #49
This is very weird,as I don't see what could possibly cause this between the 0.6.0 -> 1.0.0 change.. would you be able to make a reproduction? That would help us a lot in fixing this problem

Thanks for reporting!

[2018-06-20 11:57] dankelleher opened #60 "Step definitions with the same name in multiple step_definition files"
It looks like you cannot have two steps with the same name in different features with different implementations. e.g.

login.feature
`Given I enter my details`

...should point to step_definitions/login.js `given('I enter my details', function() ... )`

signup.feature
`Given I enter my details`

...should point to step_definitions/signup.js `given('I enter my details', function() ... )`

At the mo

[2018-06-20 12:07] jlin412 commented on #25
actually, you can have tagged hook where you restrict hooks based on scope of tags

[2018-06-20 15:23] lgandecki commented on #60
hmmm.. I'm not aware if there should be a way to resolve this, the step definitions should be global, as far as I understand. There is no matching between the feature file name and where to get the step definition from.

Maybe we can figure out a different way of doing what you are trying to do - could you please tell us why/when would you have two steps of the same name implemented in two differe

[2018-06-20 21:52] dankelleher commented on #60
The example above is a pretty common case for me. To improve readability, I often have step definitions that are not completely explicit such as "I enter my details". Another example would be "I click the OK button" where the OK button may be different on different pages. I can definitely work around it... I'm not sure what the official cucumber spec says about step definitions. If they are meant

[2018-06-21 18:32] KeithGillette commented on #50
Did you find a way to change the paths, @fccoelho7? We like to colocate our `.feature` and `steps.ts` files, so would like to create a structure like:
[code]

[2018-06-21 21:21] KeithGillette opened #61 "TypeScript tests fail with `ParseError: 'import' and 'export' may appear only with 'sourceType: module'`"
Attempting to set up `cypress-cucumber-preprocessor` with `add-typescript-to-cypress`, I receive the following error when running a `.feature` test in Cypress whose step definitions are in a `steps.ts` file containing an `import` statement:

[code]

Running a separate `spec.ts` file containing an `import` using only `@bahmutov/add-typescript-to-cypress` in `cypress/plugins/index.js` works fine, bu

[2018-06-22 11:45] MrPierre1 commented on #41
Once you have the feature file, How did you generate the step definitions file? Did you have to write the step_definitions file by hand with all the regex or was there a command you ran to generate it?

[2018-06-22 12:02] lgandecki commented on #61
can you try using require instead of import?

[2018-06-22 12:30] KeithGillette commented on #61
I tried `require`, but then I just get another parsing error from our use of TypeScript decorators:

[code]

[2018-06-22 13:12] lgandecki commented on #41
yes, you write them "by hand" :D There is no need for scray regex though! take a look here:

[2018-06-22 13:14] lgandecki commented on #61
that's not good. any chance for a simple reproduction?

I would love to make this work with typescript. import might be tricky but everthing else should work.

[2018-06-22 13:47] KeithGillette commented on #61
Do you want a Github repo, @lgandecki? Is there a sample base project on which to create a reproduction?

[2018-06-22 13:48] lgandecki commented on #61
Yeah github repo would be great, the simplest thing you can create that replicates the problem so I can jump in and see what’s going on

[2018-06-22 20:50] KeithGillette commented on #61
Please see my reproduction in my [`cypress-cucumber-typescript`](https://github.com/KeithGillette/cypress-cucumber-typescript). The `add-typescript-to-cypress` preprocessor works fine with TypeScript syntax, but as far as I can tell, `cypress-cucumber-preprocessor` ignores its output and attempts to interpret `.ts` files as JavaScript instead of transpiling them first.

[2018-06-26 11:43] kayvanbree commented on #56
@lgandecki I don't like Cucumbers way either, but I think they maybe did it to have capitalized letters in Gherkin files. Anyway, I'll send over a PR when I have time!

[2018-06-27 08:28] kayvanbree commented on #56
I got Webstorm to recognize the steps, but now only ScenarioOutline.feature passes. The rest of the tests fail:

[code]

I'll have to get back to this later.

[2018-06-27 13:05] cicely-f commented on #1
I'm running Cypress 3.0.1 and the latest version of this plugin. The step definitions are still not reloaded, and I am forced to close and restart Cypress to get the updated steps to run.

To reproduce:
1. write a feature file with several Given, When, Then steps
2. write corresponding step definition, implementing only the Given
3. see error message about missing step implementation when running

[2018-06-27 13:41] lgandecki commented on #61
Thanks, I will take a look Friday/Saturday :)

[2018-06-29 09:49] volkanogretmen commented on #49
I'm running cypress-cucumber-preprocessor@1.0.0 and cypress 3.0.1 with custom commands and everything works fine. Perhaps updating cypress may help in this?

[2018-06-29 10:00] volkanogretmen opened #63 "Showing "Given,When,Then" steps in output of the tests"
Hi all,

I started using cypress-cucumber-preprocessor recently and I'm really fond of it!

I have a question when executing the scenario's. I would like to see the actual "Given, When, Then" steps in the main output of the tests. It now shows the scenario titles in the output (also in the terminal) and the steps are somewhat hidden inside the actual step behind a log-command. Is this normal behav

[2018-06-29 10:19] volkanogretmen commented on #53
_I see that your post is quite a while ago, but I'll try it anyway._

I'm not sure why you would writeout the Gherkin steps so extensively. My suggestion would be to keep it simple:

`Given I visit the "/login" page
When I am successfully logged in
Then the stub response should be "204"`

You will then have the possibility to reuse this for other response codes. I hope I understood you correctly!

[2018-06-29 10:31] volkanogretmen commented on #60
@dankelleher I have worked with nightwatchjs + cucumberjs combination in the past and the cucumber spec didn't allow me to you the same name for multiple steps. When doing so, I would get a corresponding error in the console (`Multiple step definitions match:`). I saw that cypress-cucumber-preprocessor doesn't have this kind of error handling yet.

You can try it out yourself here: http://cucumber

[2018-06-29 19:55] lgandecki commented on #60
Yeah.. I don’t think this is how cucumberjs is supposed to work. Good point though that we should throw an error when there is multiple definitins of the same step

[2018-06-30 13:16] lgandecki commented on #63
Hey, thanks!
:-)

Unfortunately, this is caused by:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/44

We don't have control over when cypress clears out things like local storage/sessions/cookies , having all steps treated as a separate scenario (to show nicely in the cypress UI) was causing cypress to reset the state between them, which was a no-go.
Once cypress allows for

[2018-06-30 13:16] #63 closed

[2018-06-30 14:36] lgandecki commented on #61
ok.. I spent a couple hours on this, and it is much more work than I initially thought... I will have to pass on it for now. Maybe once we/I need to use typescript I will be able to spend more time to get this to work.

If we were able to use babel7 with cypress (possibly soon), then we can use the plugin-transform-typescript in browserify to remove types from our output js file. At this point I c

[2018-07-02 08:05] dankelleher commented on #60
Fair enough, I'm happy to close this then.

[2018-07-02 08:05] #60 closed

[2018-07-02 19:49] PointmanDev commented on #37
You can use everything that's in Cypress with this library.

If I was doing this in a single function, I'd use the "Cy.as" syntax and then wait for it. I think you should be able to do this across steps in the same scenario, though.

E.G.
[code]

[2018-07-03 05:32] lgandecki commented on #49
I'm going to close this for now to clear things up a bit, @vvanmol if you still have this problem after updating to the newest cypress please reopen, reproduction would be great (and shouldn't be hard).

[2018-07-03 05:32] #49 closed

[2018-07-03 05:34] lgandecki commented on #56
very weird, the changes you made shouldn't affect anything. Can you open a PR here, circle should catch it and run tests on it - maybe the code is correct but it's some weirdness in your local setup.

[2018-07-04 07:18] kayvanbree commented on #56
Created #64, let's see what Circle thinks

[2018-07-04 11:15] kayvanbree commented on #56
I can't get this error on my machine... I still get the parsing error with the incorrect directory.

[2018-07-04 11:19] kayvanbree commented on #56
I don''t really get how stuff works, but I see there's a .toLowerCase in resolveStepDefinition.js.

[code]

[2018-07-04 11:22] lgandecki commented on #56
the reason for different errors might be some difference between windows and unix machine. I will try to fix this up today (having your PR helps). It shouldn't be too hard now.
Thanks for your help :-) And will update you here in a few hours

[2018-07-04 16:58] lgandecki commented on #56
I got this to work, but your PR is weird. Please DO NOT change anything in package.json and don't commit package-lock.json.
you've just added the exports, but you don't import them anywhere. Actually, there is no need to export them, the only place that you have to change is index.js, by adding:

[code]
here:

<img width="1439" alt="screen shot 2018-07-04 at 20 53 06" src="https://user-images.gith

[2018-07-05 07:38] KeithGillette commented on #61
Thanks for investigating, @lgandecki. Until TypeScript is actually supported, perhaps the README should be updated to remove TypeScript instructions.

[2018-07-05 10:02] vadimromanyak commented on #56
@lgandecki Webstorm doesn't recognize step definition this way:
Given('user navigated to the Start page', () => { });

But if we replace quotes with /^...?/ then it works:
Given(/^user navigated to the Start page?/, () => { });

[2018-07-05 10:28] kayvanbree commented on #56
@lgandecki

I will change my PR and check if the build works when I do the `const Given = given` stuff.

@vadimromanyak You can also use ticks:

[code]

If you check out the test steps I created you can see I use either the ticks or /^..?/:

[code]

[2018-07-05 10:30] lgandecki commented on #56
@kayvanbree Bingo! backticks work!

[2018-07-05 10:31] lgandecki commented on #56
@vadimromanyak replacing with /^ etc is not preferable as then we lose the prefered / new / cleaner syntax:

https://github.com/cucumber/cucumber-js/blob/master/docs/nodejs_example.md

But I'm excited that the backticks work, not sure why webstorm wouldn't work with " or ' but hey, not a huge deal once you know it :)

[2018-07-05 10:32] kayvanbree commented on #56
@lgandecki My local tests are failing again. I'll commit to see what Circle thinks.

Also, the /^ stuff may not be preferable, but it's the only way I got `(\d+)` and (.*?) working to use numbers and strings in my step definitions.

[2018-07-05 10:39] lgandecki commented on #56
@kayvanbree well, yeah, the /^ gives you the regexp functionality.. but the point is, instead of using regexp, you can just use the newer syntax...

to give you an example, instead of:

[code]

[code]

Regexps are powerful, but unreadable to human, and very rarely u need such a complex processing anyway, usually it's a word, or a number, etc.. so the cucumber guys introduced the new syntax :)

[2018-07-05 11:15] kayvanbree commented on #56
@lgandecki The tests for #64 are passing!

[2018-07-05 11:19] kayvanbree commented on #56
I don't think webstorm plays nice with the new syntax...

[2018-07-05 12:11] kayvanbree commented on #56
Indeed

[2018-07-06 10:46] lgandecki commented on #56
closed in #65 , it works with us as much as it works with pure cucumber, not much more we can't do at this time.
Thanks @kayvanbree @vadimromanyak for your help here :)

[2018-07-06 10:46] #56 closed

[2018-07-06 22:01] sloosch commented on #61
Hi @KeithGillette,
we ran into the same problem during evaluation of cypress + gherkin due to this and #52, #51 and #44 (which can be overcome by using a beforeStep-Hook) i have created https://www.npmjs.com/package/gherkin-to-mocha which is a webpack loader which transforms gherkin files into a mocha test suite. By using https://github.com/cypress-io/cypress-webpack-preprocessor you can have feat

[2018-07-07 12:29] vvanmol commented on #49
Hello.
Sorry for the late reply...  I couldn't get back on this yet.
I'll try to reproduce it and if I can I'll re-open this ticket and provide more information.
Thanks !

[2018-07-10 13:33] SaltyFurbreeze commented on #20
Is this still an issue? Kinda new to github but I'd like to contribute.

[2018-07-10 13:38] oltodo opened #66 "Custom Parameter types"
How could I add my own parameter types like suggested in the [Cumcumber's documentation](https://docs.cucumber.io/cucumber/cucumber-expressions/#custom-parameter-types) ?

[2018-07-10 19:03] bensampaio commented on #53
So you are suggesting that I create a step definition that fills in the form and sets the stub all in one? I understand the idea but doesn't feel so reusable. Besides that, It hides a lot of information about what is actually being done. What if I have a more complex form? Should I always have a single step definition that fills in an entire form and sets a stub? Is that a common practice in gherk

[2018-07-10 20:57] bensampaio commented on #52
Why not generate a `.js` file out of the `.feature` file that imports the step definitions used in that file instead? The import statements would then be resolved by another preprocessor. This is just an idea, not sure if it would fit all the use cases, but it would reduce a lot of confusion.

[2018-07-11 21:55] dvelasquez opened #68 "vue-cli 3 and cypress"
Hello, im using vue-cli v3 with the cypress plugin and when i start a feature test i got the following error:
[code]

This is the plugin configuration from cypress and vue-cli, is not the usual config:

[code]
I'm not sure if someone has stumbled with this issue or has an idea of how to implement it in the right way.

[2018-07-12 15:01] dvelasquez commented on #68
So, this problem was caused because the "step_definitions" was in package.json and in the vue-cli configuration provided by the plugin.

To make this work, i have to delete the entry in package.json, add the preprocessor line and the step_definitions in the object returned.

I'll open a PR adding this to the docs.

[2018-07-13 05:01] asmahkojo opened #70 "Requesting Enhancement for "Step_Definitions" location configuration in package.json to support glob patterns"
First of all I want to say that I really love the work you guys have done here. I would, however, like to propose a small tweak to allow the "steps_definitions" location configuration property, configurable in package.json to allow glob patterns.
A potentially quick fix to make this happen would be to replace (in "index.js" at the root folder)
`if (loaded && loaded.config && loaded.config.step_def

[2018-07-13 07:55] lgandecki commented on #52
Not sure why not :-) I don't remember whether that crossed my mind when I initially was trying to hack this together.
It sounds like a reasonable idea though... I will give it a shot and see if this is something that could work.
Tha

[2018-07-13 08:33] lgandecki commented on #66
Released in 1.1.0. Thanks! :-)

[2018-07-13 08:33] #66 closed

[2018-07-13 08:45] lgandecki commented on #52
Fixed in 1.2.0  / #72 !
Thanks so much :) this was spot on.
I think I should be able to get TypeScript to work now as well.. Let's see.

[2018-07-13 08:45] #52 closed

[2018-07-13 08:47] lgandecki commented on #20
imports/exports fixed in 1.2.0  / #72 !
Sorry @SaltyFurbreeze :-) There are more to get done if you like to help.
Ping me if you are still interested in doing some coding - it'd be great if you'd first cloned the repo and got it to the point where you can break one of the tests by changing the code.

[2018-07-13 08:47] #20 closed

[2018-07-13 14:06] lgandecki commented on #70
Thanks!

Would you be able to make a fork and try this out? Possibly adding step definitions in a place that would be accessible only through glob and .feature test for it?

[2018-07-13 15:30] bensampaio commented on #52
Wow that was fast! Looking forward to give it a try when I'm back from holidays :D Thanks!

[2018-07-13 16:03] lgandecki commented on #61
@sloosch that looks really cool :-)
I need to evaluate it a bit closer.

Right now #52 is fixed, #51 should be finalized this week (we want to make sure that we get it right the first time around so we don't mess up peoples tests changing the tags API in the future), and having #52 done gets us a step closer towards using typescript.

About.. #44 - could you elaborate a bit? what do you mean by ov

[2018-07-13 16:22] dvelasquez opened #73 "fs-events windows 10"
I'm trying to run a feature using Windows 10 and cypress is throwing the following error:

[code]
I'm not sure if this problem is related to the configuration, cypress or the plugin.

[2018-07-13 16:52] asmahkojo commented on #70
Hi! Thanks for the quick reply! I would love to but embarrassingly I'm pretty new to Github and currently don't have too much time on my hands for the next couple weeks. I could possibly get on it after a few weeks but I would really appreciate it if a more seasoned contributor were available to get on it. Any takers for now?
Thanks again!

[2018-07-13 16:57] sloosch commented on #61
@lgandecki
by having beforeStep/beforeScenario you can keep the state by calling
`Cypress.Cookies.preserveOnce()` in beforeStep and overwrite `
Cypress.LocalStorage.clear` with a noop in beforeScenario.

Of course this is a hack and we are all waiting for the user-managable state PR https://github.com/cypress-io/cypress/issues/686 :) But it will make your manager happy to see the steps when you ar

[2018-07-14 04:00] lgandecki commented on #70
Sure, we could probably have someone cook this up for you.

But, just to clarify, do you have something like:

cypress/
   step_definitions/
        featureSomtehing/
             somethingDefinition.js
             otherDefinition.js
        otherFeature/
            ...otherDefinition.js
        maybeADefinitionHere.js

or
cypress/
    stepDefinitionsFirstFolder/
    stepDefinitionsSecondFolder/

[2018-07-14 05:17] lgandecki commented on #61
@sloosch yeah, that sounds like a workable hack :-) I might try it.
Thanks for the input.

Btw, TypeScript works with 1.2.0!
I've added instructions to the readme in 1.2.1

@KeithGillette These are the only changes You'd have to make in your repro to get your example to work:

[code]

[2018-07-14 05:17] #61 closed

[2018-07-14 06:18] lgandecki commented on #51
Duplicate of #24, should come soon when #46 / #58 gets merged in. I'm closing this one out to clean things up a bit - please observe #24 issue or the #58 PR

Thanks!

[2018-07-14 06:18] #51 closed

[2018-07-14 06:18] lgandecki commented on #48
Duplicate of #24, should come soon when #46 / #58 gets merged in. I'm closing this one out to clean things up a bit - please observe #24 issue or the #58 PR

Thanks!

[2018-07-14 06:18] #48 closed

[2018-07-14 07:39] lgandecki commented on #47
@breeny could you take a look at that feature file I pointed to above, and tell me if what you are talking about is the wrong display in the report or a missing functionality?

[2018-07-14 13:48] asmahkojo commented on #70
Awesome thanks!
It is more like the first case.

To give you more context, let's call the project i'm working on "TestRunnerApp". TestRunnerApp is responsible for running tests for Repository-A and Repository-B. Thus, Repository-A and Repository-B are pulled into TestRunnerApp via npm link.
Both Repository-A and Respository-B will generally have a folder structure like below:

<pre>e2e/
    common

[2018-07-16 23:04] KeithGillette commented on #61
Thanks, @sloosch & @lgandecki!

I confirm that the diffs above allow use of some TypeScript with `cypress-cucumber-preprocessor`. However, I notice that one can't use of TypeScript standard `import` or `export` statements. Any remedy for either of those shortcomings?

[2018-07-17 09:09] twilczek commented on #37
We have prepared an example of how to share context between given, when, then steps. You can see it here:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/74

[2018-07-17 15:40] victorheid opened #75 "Possible of generate empty tests with a "Pending" warning?"
I have to leave all tests empty, which gives a false status of passing and fails on guiding the development process.

Is there any way to do it? Or am I missing it? #

[2018-07-17 16:55] lgandecki commented on #75
I think this is more of a cypress / mocha thing - what happens if you put this.skip() inside your step definition?

[2018-07-17 18:24] victorheid commented on #25
@lgandecki Although I forgot about the Background steps (thanks for remind myself!), I was trying to attach something like the beforeEach, to just wipe the api application after every Scenario.

It can be done through the Background steps as well I guess, just a preference if you want to have the api wipe/refresh as a step.

Do you have any opinion about this? Does CCP support Contexts BTW?

[2018-07-17 18:35] victorheid commented on #75
It just skips it, and the test itself marks as passing (if only skipped steps are left)

I've tried to throw an error saying "Step pending" or just not write the step until I get to it, but both cases, it seems to override the entire test ,Cypress doesn't show the other steps that were executed before. i.e. I have a step that is pending, where I just do an 'assert.isTrue(false)'. The error emerges

[2018-07-27 16:18] ronlawrence3 opened #76 "making one test in scenario outline an option"
I am struggling with cypress' insistence on tearing the world down between tests. With protractor, we did not need to do this. Not your issue, but...

Scenario outlines are especially painful as invoking "background" ( log in and navigate to where I need to be) on each example becomes very long running. I'd like to see an option where the scenario outlines could be "rendered" as one test rather th

[2018-07-27 18:38] lgandecki commented on #76
I hear ya!

But, I think, the Cypress guys are suggesting that if you have one test that covers the whole "happy path", including login in, navigating, etc, then if you need to do multiple tests on a given page, then just go there directly being in a logged in state - there is no need to verify over and over whether the application can log you in. It might not be as "safe" in terms of safety net,

[2018-07-30 04:07] ronlawrence3 commented on #76
Unfortunately not an easy thing to do for our app, which uses localstorage to store authentication details, which gets wiped. I will try saving / restoring local storage (or at least these keys) for now to see if I can speed up these tests, but it would sure be a nice feature to pick and choose when to do this sort of thing.

[2018-07-30 17:54] agentHoover opened #77 "Typescript/browserify bundle directory output folder broken on Windows 10"
Using the typescript configuration settings for the plugin on Windows 10 with Visual Studio Code, the bundle output folder was being put into the root of the application folder instead of the user profile.

I was able to fix it by changing line 100 in the index.js  file  to use the path.sep instead of a hardcoded forward slash.

.\node_modules\cypress-cucumber-preprocessor\index.js

const bundleDi

[2018-07-31 04:51] lgandecki commented on #77
Cool. Would you be willing to send a PR? :-)

[2018-07-31 15:14] ChrisBAshton opened #78 "Error: Cannot find module 'test/cypress/support/step_definitions/shared.js'"
I'm getting this error:

[code]

...on v1.2.2 of cypress-cucumber-preprocessor, when v1.0.0 was working ok (removed `package-lock.json` and it stopped working).

This is our cypress config:

[code]

And here is our dir structure:

![screen shot 2018-07-31 at 16 13 43](https://user-images.githubusercontent.com/5111927/43468787-baaf5d64-94dc-11e8-84fa-ff1e4265d8a1.png)

Could be that there's been an

[2018-07-31 15:44] lgandecki commented on #78
Any chance of a simple reproduction? Also - could you go back a version or two and see if that helps?

[2018-07-31 16:07] ChrisBAshton commented on #78
Just re-tried it in a few versions:

* 1.2.2 broken, see error in this issue description
* 1.2.0 broken, see error in this issue description
* 1.1.0 works (but 1 of our tests fails for some reason!)
* 1.0.0 works fully

So breaking change was introduced in 1.2.0.

[2018-07-31 16:09] ChrisBAshton commented on #78
I'd take a wild guess and assume it's because [`path.resolve` got removed](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/commit/ad76f6f3fa8cae5536fb5f5e2df5c5ffd2370a03#diff-168726dbe96b3ce427e7fedce31bb0bcL58) :)

[2018-07-31 16:10] agentHoover commented on #77
I'll see if I can get one done this weekend.  No promises though. :)

[2018-08-01 05:45] lgandecki commented on #30
@vlavellauruit @rickschubert is this still a problem in the current version? It'd be great for a simple reproduction, it's very hard to debug problem like this. Hard to say if the problems you guys are exactly like the guy above - it shouldn't be, as that particular source of the problem was fixed.

[2018-08-01 05:56] lgandecki commented on #78
I mean, we don't resolve the paths manually anymore, so the whole operation from that line was removed.

It would be great to have a reproduction (just try to have the same structure and config and strip everything specific to your project). Unless it will be hard to me to verify the problem.
For now I'd recommend: don't use fileServerFolder , as it was mistakenly used for our plugin purpose. Go w

[2018-08-01 08:09] ChrisBAshton commented on #78
Ok!

Here's a test repo: https://github.com/ChrisBAshton/cypress-cucumber-debug

The master version passes tests, but the `broken` branch fails them: https://github.com/ChrisBAshton/cypress-cucumber-debug/pull/1

[2018-08-02 08:53] lgandecki commented on #78
Cool! I will take a stab at this tonight.

[2018-08-02 12:33] bhreinb commented on #70
Hi There,

I tried the sample project here @

https://github.com/TheBrainFamily/cypress-cucumber-example

I upgraded the dependencies to

I notice I'm able to override the default "step_definitions" path when I set this in the package.json

However, I'm unable to do this within "cypress/plugins/index.js"

Naturally, when I set that here I remove the entry within package.json but it doesn't seem to

[2018-08-02 15:04] lgandecki commented on #78
As I thought:

putting this:
[code]

in your package.json fixes the problem.

I'm thinking whether I should try to make it work for the mistakenly used     "fileServerFolder": "test/cypress", as well, or just make a note in the documentation that this is no longer supported (it was deprecated a few versions back)

[2018-08-02 15:21] bhreinb opened #79 "Possible Generate Cucumber JSON Reports Post Test Run Execution"
Hi there

I'm currently evaluating the toolset for a project I'm currently working on. I have used cucumber js with protractor before which worked very well for me in the past so hoping to do something similar with this toolset and cucumber js. I must say from starting in December the project has evolved significantly so well done on that 👍 .

I notice though that the project doesn't quiet have fe

[2018-08-02 16:15] lgandecki commented on #70
the package.json is a different configuration than what you use here as the config. We've decided not to add anything to the cypress configuration as it's owned by the cypress guys and they didn't really want to cooperate on decisions here. :)

Why can't you use package.json?

[2018-08-02 17:05] bhreinb commented on #70
No I can use the package.json (it's just nice to have all test application configuration centralised in the one place is my only thing 👍 )

For example the "integrationFolder" is defined within "cypress/plugins/index.js"

the code behind that driving the test scenario is within "package.json"

[code]
make sense?

[2018-08-03 03:46] lgandecki commented on #78
@ChrisBAshton It would be great if you could verify this fix and I'd love to hear your thoughts about removing the ability to use fileServerFolder for good, instead of fixing it :)

[2018-08-03 03:47] #37 closed

[2018-08-04 22:16] rickschubert commented on #30
@lgandecki The imports only work if the feature file and the step defintion file are both on the same "level", i.e. with the following structure:

[code]

As soon as it gets more complicated, it doesn't work anymore, i.e.
[code]

[2018-08-05 05:37] lgandecki commented on #30
What version are you using when it doesn't work?

[2018-08-05 10:36] rickschubert commented on #30
@lgandecki We were using version 1.0.0.

[2018-08-05 10:58] lgandecki commented on #30
This is possibly fixed in 1.2.0 https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/master/CHANGELOG.md#120---2018-07-13

[2018-08-06 15:32] Sjain01 opened #80 "Step Implementation missing error while implementing BDD: Scenario Outline feature"
Hello All ,

I have just started using cypress and was playing around with BDD : Scenario Outline feature.

hereby is my feature file :-
Scenario Outline: User success sign in

`Given Should be able to run on <devicename>
Examples: | devicename| | iphone-6 |`

And step definition is as follows:
`Given(/^Should be able to run on {string}/, devicename => { viewportSize = devicename ; });
`
Where vie

[2018-08-06 15:54] lgandecki commented on #80
It has to be Given("Should be able to run on {string}", ..)
otherwise it expects a regexp

[2018-08-06 16:12] Sjain01 commented on #80
@lgandecki - I tried your suggestion but it is still giving me same issue , hereby my updated feature file.

Feature File:
`Scenario Outline: User success sign
    Given Should be able to run on <devicename>`
Examples:
    | devicename|
    | iphone-6 |

Step Definition file:
`Given("Should be able to run on {string}", (devicename)  => {
  viewportSize = devicename ;
});`

Error:
`cypress_runner.j

[2018-08-06 16:35] agentHoover commented on #77
@lgandecki
I have the code fix for this.  I tried to push my branch so I can issue a pull request but I was denied.

[2018-08-06 16:51] agentHoover commented on #77
PR submitted.

[2018-08-07 08:58] ChrisBAshton opened #82 "`and` not supported in step_definitions"
Whilst [we have `given`, `when` and `then` globally](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#step-definitions)...

...we do not have a global `and`. (Looks like step definition support was missed off in #31 / #35).

I would expect to be able to write `and('foo happens')` as I am allowed to write `And foo happens` in the feature file.

Thanks!

[2018-08-07 10:27] Sjain01 commented on #80
further investigated and found an issue only to be with <devicename> , post removing this parameter I do not get step implementation error.  It is something to do with the way string has to be defined in Feature file. I am using Webstorm , wondering if that is causing this issue.

[2018-08-07 10:46] bhreinb commented on #79
Hi folks any thoughts on the above ticket I created? Thanks in advance.

[2018-08-07 15:21] haleagar commented on #80
Scenario Outline: User success sign
Given Should be able to run on "<devicename>"
Examples:
| devicename|
| iphone-6 |

matches step:
Given (/^Should be able to run on "(.*?)"$/, (devicename) => {
    cy.log(devicename);
});

Scenario Outline: User success sign
Given Should be able to run on <devicename>
Examples:
| devicename|
| iphone-6 |

matches step:
Given (/^Should be able to run on iphone-6

[2018-08-07 16:34] Sjain01 commented on #80
@haleagar - Thank you , your suggestion worked.  Thanks a ton for your time and suggestion :-)

[2018-08-07 16:34] #80 closed

[2018-08-07 17:58] amenk opened #83 "Is there a Default Step definition project?"
Are there any default step definitions out there for example, to open a page, click a button, type text and so on?

If not, would it make sense to share such?

[2018-08-08 08:02] amenk commented on #83
So essentially I am looking for a port of https://github.com/Behat/MinkExtension/blob/master/src/Behat/MinkExtension/Context/MinkContext.php to cypress-cucumber

Did anybody do this yet?

[2018-08-08 09:27] steftanguy commented on #82
Hi Chris,
the And step is like the When step.

So in your case, you can do it :
`Then('foo happens')` in your step_definition file

[2018-08-08 09:30] ChrisBAshton commented on #82
Yes, I'm doing that as a workaround - but still think there should be a global `and` method, it reads better!

[2018-08-08 11:16] Sjain01 commented on #47
@lgandecki - I also face this same issue , is there any solution for it. The issue is with displaying the values used within examples on Scenario outline.

[2018-08-09 21:23] KeithGillette opened #84 "TypeScript configuration transpiling all `.ts` files in project?"
I'm attempting to add `cypress@3.0.3` and `cypress-cucumber-preprocessor@1.2.2` with `tsify@4.0.0` to an existing Angular 6 project. However, I am getting a TypeScript transpilation error in some code located outside of the `cypress` directory when running any test, even the stock JavaScript examples provided with Cypress.

If I do not have any `.feature` files or corresponding TypeScript step def

[2018-08-10 20:12] saishyamvinjamuri opened #85 "this is just a question (not any issue or so)"
can the below steps be written in any other file than package.json ?
[code]

[2018-08-14 12:57] Panetes opened #86 "After scenario commands"
Hello there,

I'm enjoying your cucumber pre-processor so far but there's one thing I would really love to be able to do. Is it possible to add an after command that gets executed at the end of every scenario (whether the scenario passes or not)?

This would be extremely useful to keep the application data clean if a scenario fails for whatever reason.  I know you can do this with Cypress, just do

[2018-08-15 09:28] ChrisBAshton commented on #78
Hi @lgandecki I can confirm that fixes it 🎉 but it does feel wrong to pollute the `package.json` with Cypress-specific properties 🤔 can't this be handled in the `cypress.json`?

[2018-08-15 09:30] lgandecki commented on #78
cypress.json is for cypress configuration, and you are not configuring cypress here, really. If you don't want to pollute package.json you have all the options that  https://github.com/davidtheclark/cosmiconfig gives you

[2018-08-15 09:30] #78 closed

[2018-08-17 01:46] RamCreativeUI opened #87 "Getting an Uncaught refrence error: $cookieExists is not defined"
My cypress version cypress: 3.0.3
My cypress-cucumber-preprocessor : 0.2.0
The browser i am using Chrome
I am running cypress as like "test": "cypress open"

Login.feature
--------------
[code]
Login.js
-----------
[code]
------------------------------
This is the error i am getting after the button was clicked.
Error:

Uncaught ReferenceError: $rememberUsernameCookieExists is not defined
Note: Wi

[2018-08-21 12:48] sleeloy-mdsol opened #88 "Cucumber-style like output for reporting"
Can we prep-pend Scenario: Feature: and add context to the Given When Then steps  when generating the tests?   **(although there's an issue open to support adding additional context to the test: https://github.com/cypress-io/cypress/issues/1910)**
Would like to use mochawesome report generator to at least generate html on our CI.

Be nice to have the output in the cypress report to show the steps

[2018-08-22 13:45] mhodgson commented on #84
Here is the `plugin/index.js` file we're using. This will allow you to have a different tsconfig.json file just for your cypress ts files:

[code]

[2018-08-22 14:06] lgandecki commented on #84
Thanks a lot @mhodgson !

One question - are you sure you need to add 'ts'  to extensions? From what I remember that was somehow unnecessary when I was testing the setup.

Anyway - this looks like a better advise comparing to what we have in the README right now, would you like to doublecheck the above and possibly send a tiny PR with the change? :-)

[2018-08-22 14:08] lgandecki commented on #85
As per documentation:

[code]

Please take a look at the cosmiconfig

[2018-08-22 14:08] #85 closed

[2018-08-22 14:13] lgandecki commented on #88
I don't see a way of doing that as long as cypress makes every it separate, discussion here:

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/44

tldr: we need this to be resolved: https://github.com/cypress-io/cypress/issues/686

[2018-08-22 14:13] #88 closed

[2018-08-22 19:46] mhodgson commented on #84
@lgandecki huh, I actually didn't even see the instructions in the README. I looked here and I'm not entirely sure how this is working for you without the `.ts` extension since it isn't in the defaults:

https://github.com/cypress-io/cypress-browserify-preprocessor/blob/master/index.js#L16-L61

Happy to submit a PR for an updated README.

[2018-08-23 10:30] prsdcse opened #89 "The step definitions are not detected from package.json"
I have done all the configuration mentioned in the readme.

in plugin/index.js
`const cucumber = require('cypress-cucumber-preprocessor').default;
module.exports = (on, config) => {
  on('file:preprocessor', cucumber());
};`

in package.json
`"cypress-cucumber-preprocessor": {
    "step_definitions": "./cypress/support/step_definitions"
  }`

When i run the test i see this error.

[2018-08-23 16:51] KeithGillette commented on #84
Thanks, @mhodgson! Would you be willing to share your `cypress/tsconfig.json`, as well?

Does `tsify` respect the `tsconfig.json` `lib` property? Even though I have added `esnext.asynciterable` to `lib` in my `cypress/tsconfig.json`, I am still getting the following error with this setup, even when I'm just attempting to run a Cypress example `.js` spec:
[code]

[2018-08-23 18:17] mhodgson commented on #84
@KeithGillette unfortunately I don't think it's anything too fancy:
[code]

[2018-08-23 19:17] KeithGillette commented on #84
Thanks so much, @mhodgson.

I figured out the TS2304 error: I had a typo in the path to my `tsconfig.json` in the `project` key of the `tsify` plugin configuration, so `tsify` wasn't actually using it but didn't throw an error that it couldn't find the file, it just ran without one, apparently.

FYI, I tested and this line of the `cypress/plugins/index.js` configuration is unnecessary, presumably

[2018-08-23 21:07] sessa commented on #82
Mind pointing out the complication in allowing `and` as a step definition?  This is not the right implementation but this works:
`  const And = window.And = window.and = then;`

here: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/master/index.js#L20

I have not look into the code a ton, but given that works when running tests, would updating the project correctly be a heavy

[2018-08-24 14:47] lgandecki commented on #89
Thanks for reporting..
Although I think we will need a repro here, as you can see this repository actually uses the plugin to test itself, so we know it works - at least in the most basic way. :-)

Two things:

a) Are you on windows?
b) Can you try "cypress/support/..." instead of "./cypress/support/..."?

[2018-08-24 16:08] darasandeep91 opened #91 "Hook to run before all the tests in Cypress"
I wrote a before hook and have places in support/Commands.js

But the hook is running before each test in cypress. But i wanted it to run only once irrespective of the tests in cypress

Is there a functionality to achieve this ?

NOTE: I am creating a subscriber that i can use for the test in before hook

[2018-08-24 16:46] mhodgson commented on #84
Cool. I opened a PR to simplify the README: #92

[2018-08-26 17:15] amenk commented on #83
I am trying to do this .. what would be the best way to distribute a mink.js with a port from Mink's step definitions? Should it be put to this project (fork, pull request) or a separate NPM package?

[2018-08-26 23:18] darasandeep91 opened #93 "Having Multiple Backgrounds in a single Feature File is throwing error"
I have a feature File and I have places multiple back grounds for different scenario in a single feature file like this

as there is no support for hooks in Cypress cucumber pre processsor

Feature: To test Login

  Background:
    Setting up app for the below scenario 1

  Scenario: To Check if SVG Icon is present in offer status for an Active offer
  GWT statements

  Background:
    Setting up

[2018-08-27 13:20] #84 closed, assigned to nobody

[2018-08-27 14:50] #93 closed

[2018-08-29 06:16] lgandecki commented on #89
Closing this because there is no way to reproduce, and this is basic functionality.
Please reopen with a repro/after answering the a/b points above.

Thanks!

[2018-08-29 06:16] #89 closed

[2018-08-29 06:32] lgandecki commented on #83
Hard to say.. Could you create a separate package/repo first, and then we will think whether it makes more sense to merge it in here or link to it in the README?

Thanks!

[2018-08-29 06:34] lgandecki commented on #82
@sessa that's exactly how we could add that.. If you could also add a simple .feature test where you use And step while creating a step definitions that define that's as And(``, () => {}) that would be great!

[2018-08-29 06:43] lgandecki commented on #79
Thanks for reporting!

We need to revisit #1 soon. I'm hesitant to introduce something that will be incompatible with cypress way of doing tags, and would be very hrad to fix in a backward compatible way in a future.

#2 - I think that's mostly on cypress. Have you tried using mocha JSON reporter - https://mochajs.org/#reporters / https://docs.cypress.io/guides/tooling/reporters.html#Custom-Report

[2018-08-29 06:43] #79 closed

[2018-08-29 08:53] dvelasquez commented on #73
Sure, I'll give it a try later today.

On Wed, Aug 29, 2018, 4:25 AM Łukasz Gandecki <notifications@github.com>
wrote:

[2018-08-29 09:37] bhreinb commented on #79
Hi @lgandecki

Thanks for responding.

For item 2) actually that's all on this project I'd imagine. At the end of a cucumber test run it generates a JSON report. All the cucumber runners JVM, JS, Specflow etc produce the same JSON. The JSON that cypress produces aligns to the JSON a mocha report generates which is significantly different to the JSON a cucumber runner generates hence me thinking th

[2018-08-29 09:42] lgandecki commented on #79
if you want a different reporter than you need to create a mocha reporter that aligns to the cucumber format. :-)
this would be a separate project, but I understand that it might be a requirement for someone to use it.
In any case - at this point you won't get a report that would look like the one you get from other cucumber projects, because of cypress limitations (that are promised to change, bu

[2018-08-29 10:38] lgandecki commented on #87
Any chance for a reproduction? :-)

[2018-08-29 12:17] bhreinb commented on #79
That sounds drastic all right :(. Hmm I originally didn't think you needed to do that but looking at this a bit more now I'm not sure. Up to cucumberjs v3 you could get access to the JSON report easily enough via a cucumberjs API. Hence I was thinking this wouldn't be too bad to accomplish. That seems to be removed according to this link so I can understand why possibly a custom reporter may be ne

[2018-09-06 10:36] slavede commented on #63
So is this feature now released with the latest version? If so, how can I see this report?

[2018-09-06 13:27] slavede opened #95 "Way of providing parameters to the steps"
It would be great if we could provide date as a table:

[code]

As defined here

https://docs.cucumber.io/cucumber/api/#data-tables

[2018-09-06 13:56] #95 closed

[2018-09-06 13:56] slavede commented on #95
I didn't find the docs. I found examples here

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/master/cypress/support/step_definitions/dataTable.js

[2018-09-06 14:05] christiansaiki opened #96 "Removal of `this` context in newer versions"
**TL;DR**
So to summarize I've got two questions:

1. Why `this` context was removed in the newer versions?

1. What is the recommended way to pass context to other tests? Please see the snippet below.

=====================================================================

Hey guys, I'm loving your library and it makes testing much more pleasing and understandable.

In my company we were using ver

[2018-09-06 14:21] lgandecki commented on #96
that is interesting.. I wouldn't think that this actually ever worked.. But maybe it did, just without having the mocha context on it. Anyway, please try 1.5.0 and let me know if that helps.

[2018-09-06 14:22] lgandecki commented on #96
You can also share the context like this:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#sharing-context

but you shouldn't be dissalowed to use "this". :-)

[2018-09-06 14:43] christiansaiki commented on #96
Thanks, @lgandecki, yeah when I downgraded to 1.0.0 the tests worked flawlessly.
I guess you didn't publish the new version to npm, I couldn't find it yet.
I will test it once you guys upgrade in npm.

Thanks a lot.

[2018-09-06 16:13] christiansaiki commented on #96
Worked flawlessly!
Thank you so much @lgandecki!

[2018-09-06 16:13] #96 closed

[2018-09-12 22:42] novascreen commented on #47
would be great to have this reflect the value being used, if you could point out where that might be fixed I could do a PR

[2018-09-15 14:46] lgandecki opened #99 "Add precommit with linting and unit tests"

[2018-09-27 10:53] Pferv opened #101 "'this' not working on certain cases on versions >= 1.0.0"
I've been using this library for quite a while now and I'm stuck in the 0.6.0 version ever since, there is no real problem about that, It woks perfectly, but seeing the 'this' topic come up in #96 made me think that it might be worth showing my problems with the new versions just in case they are fixable.

I've tested the 1.5.1 version(I already tried most versions from 1.0.0 on) and saw that 'thi

[2018-09-27 11:32] lgandecki commented on #101
Yes, you have to use functions, mocha - that is used by cypress underneath - doesn't like arrow functions ( https://mochajs.org/#arrow-functions )

As for .then(), interesting case. that wouldn't work inside a cypress test as well. It worked accidentally before, because it would wait for all the queues cypress actions to finish before moving to another test. But, as you noticed here, it's all in o

[2018-10-06 00:46] TobiG77 opened #102 "vue-cli 3 configuration example"
Hi,

I've been looking into switching to cypress and I am currently unable to determine what is needed for a functioning setup.

I have created 2 minimal projects:

https://github.com/TobiG77/vue-cucumber-cypress, which does include the e2e-cypress plugin and https://github.com/TobiG77/vue-cucumber-vanilla-cypress without e2e-cypress.

The first issue is that it -if I read https://github.com/TheBr

[2018-10-06 04:59] lgandecki commented on #102
I believe the behavior is documented.

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#configuration
[code]

Again - cypress.json is CYPRESS configuration, not our plugin configuration. We don't have control over it, and Cypress team was unfortunately quiet about them allowing us put any custom keys there. As far as I know they don't have any policy about having plugins putting the

[2018-10-06 04:59] #102 closed

[2018-10-06 06:28] TobiG77 commented on #102
Hi,

Thanks for providing some background around why the config can only be configured that way. I was lacking that context and had obviously some wrong assumptions / expectations - despite reading the documentation.

The comment was indeed the right solution. I've pushed the changes in the repository for use of cypress and cucumber - without the e2e-express vue-cli plugin - which resolve the situ

[2018-10-06 06:35] lgandecki commented on #102
Great! Thanks for the update! And if you can indeed share the experience you got with a PR to the docs that would be fantastic!

[2018-10-10 11:52] mattgibson commented on #101
It would be great to have a way to pass variables without using `this`. The examples in the docs only refer to routes and DOM elements. If I want to take data from one page and check it exists on another page, there is no easy way to do it.

[code]

[2018-10-12 09:53] AlfaCoder commented on #86
+1

[2018-10-23 05:55] lgandecki commented on #101
@mattgibson I think here you would have to cy.then() as shown above. Otherwise the expect will run before the variables are properly resolved. This will be the same no matter if you use this package or pure cypress directly. Think about it as if the cy.get(').text() was a promise that you didn't wait for - you would be comparing a promise with a text

[2018-10-23 05:59] #24 closed

[2018-10-23 06:03] lgandecki commented on #99
Fixed in 1.6.0 #100

[2018-10-23 06:03] #99 closed

[2018-10-23 07:05] TheGeminii opened #104 "Is there a way to get the scenario name in my step definitions"
Hi,

I am happily using your framework but was wondering if I can get the scenario name in a step definition. I've used cucumberjs in the past and there I could do:
` Before((scenario) => {
        console.log('\nscenario: ', scenario.pickle.name);
    });`

Does the preprocessor expose the scenario name in any way to the step definitions?

[2018-10-26 04:43] flowt-au commented on #104
It seems to do that:

    Feature: Test Microservice

        As a user I want to start the app

        Scenario: Start app for ms
            Given I start the ms app
            Then I should see something

![cypress1](https://user-images.githubusercontent.com/37637590/47544983-9456a300-d935-11e8-877b-53131ab54f50.png)

1 Feature
2 Scenario
3 Given
4 Then
Or maybe you mean something else?
Murra

[2018-10-26 06:24] flowt-au opened #105 "Thank you!"
Just saying thanks!
I discovered Cypress today as I was looking for a better way to use Gherkin / Cucumber for web apps (not node). I was on the verge of building something myself so between Cypress and yourselves I do not have to. So good.
:-)

[2018-10-26 08:18] lgandecki commented on #105
Thank you so much! We appreciate the kind words. How is this package working for you so far? Any feedback?

[2018-10-26 08:53] cookiescrumbs commented on #84
Does using ```'@cypress/browserify-preprocessor'```  fix this https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/61?

[2018-10-26 19:33] flowt-au commented on #104
Oh yes, I see. I misread the question. Sorry.

[2018-10-26 20:13] flowt-au commented on #105
So far so good. :-)
I just tested the CucumberJS browser example:

    Feature: Simple maths
        In order to do maths
        As a developer
        I want to increment variables

        Scenario: easy maths
            Given a variable set to 1
            When I increment the variable by 1
            Then the variable should contain 2

        Scenario Outline: much more complex stuff

[2018-10-27 06:42] lgandecki commented on #75
I see what you are saying and I would love to have that as well, but at this moment I don't see a way to achieve that, as Cypress forces us to treat all steps as one test. you can try to introduce a warning instead of the this.skip but that will be easy to miss for example in the CI (which is the point of pending tests as far as I understand).
I think we would need some changes in the cypress runn

[2018-10-27 07:06] flowt-au commented on #75
OK. All good. Just as long as it is on the radar!

Thanks,
Murray

[2018-10-27 15:07] TheGeminii commented on #104
Maybe it's already available using the Cypress api: https://docs.cypress.io/api/cypress-api/spec.html#Syntax

haven't tried it, will try on monday....

[2018-10-27 15:48] lgandecki commented on #104
Looks like this will give you the feature file name, but not a particular scenario I'm afraid..
Sent from my iPhone

[2018-10-29 08:02] TheGeminii opened #106 "How can I pass values containing newline characters?"
I have the following feature:
[code]
This gives me a parse error, it parses the newline character not as part of the value but as part of the file. Is there a way around this? Can I escape my values in some way so the newlines actually make it to the step definition?

Kind regards,

Hendri

[2018-10-29 14:13] piemasters opened #107 "Using TypeScript causes ENOENT error"
When I try to run a feature file I get:
[code]

I'm currently using Angular-cli 7 and Node.js 10.12.0 on Windows with:
    "cypress": "3.1.0",
    "cypress-cucumber-preprocessor": "1.6.0",
    "tsify": "4.0.0",
    "typescript": "3.1.3"

I have followed the instructions on the README:

- npm install --save-dev cypress-cucumber-preprocessor tsify @cypress/webpack-preprocessor
- npm link
- npm link

[2018-10-31 12:30] piemasters commented on #107
A quick update: when using the cucumber-preprocessor independently to the typescript-preprocessor it works fine with js files. I don't know if it's the use of browserify causing the problem?

[2018-11-02 09:42] andrei-ciocan commented on #25
[code]
Could we support adding those kind of hooks inside the .feature files? It would be really helpful controlling what you want to run and when so you don't repeat unnecessarily a large amount of code when you have a chain of actions that reuses a certain feature. Inside step_definitions or hooks folder we could have the implementation.

[2018-11-03 12:20] johnknoop opened #108 "SyntaxError: Unexpected token (TypeScript)"
I'm having trouble making ts stepdefinition files working. If I add tsify like you suggest in the guide, then I get this error:

If I dont, then I get "SyntaxError: Unexpected token".

Any ideas?

[2018-11-04 19:14] johnknoop commented on #108
If I change extension of my stepdefinitions file to .js instead of .ts then it works as expected. This is a shame though, since Cypress is able to read ts files out of the box.

[2018-11-04 19:17] johnknoop commented on #108
If I follow your guide to make it support ts, I get this error:

[2018-11-09 06:03] dexsans opened #109 "Plugin error when adding browserifyoptions tsify in index.js"
Hi,

I followed everything in https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#typescript so my plugins/index.js contained:

const cucumber = require('cypress-cucumber-preprocessor').default
const browserify = require("@cypress/browserify-preprocessor");

module.exports = (on) => {
    const options = browserify.defaultOptions;

    options.browserifyOptions.plugin.unshift(['tsify']

[2018-11-12 19:54] LaurenceRolandJames opened #110 "Prevent scenario describe blocks in step definitions being logged in the Cypress UI"
Cypress version: 3.1.1
cypress-cucumber-processor version: 1.6.0

I have my scenarios expressed as describe blocks in my step definitions:

[code]

This lets me target a single scenario using describe.only, and keeps my step definitions files tidy.

The problem I am experiencing is that the scenario text in these describe blocks get logged out in the Cypress UI, along with the logs created by the

[2018-11-14 00:05] hackel opened #111 "Run/watch a single scenario"
If I open a feature file in Cypress, whenever I make a change to a step definition, every single scenario gets run again.  Is there any way to prevent this and only run the scenarios that have actually been modified?  Even if it was a button to manually trigger a re-test of that scenario instead of the entire feature file, that would be better than nothing.  Would temporarily tagging a specific sc

[2018-11-14 15:56] ironchicken commented on #10
I have this problem, too, I think. Here's my set up:

`package.json`:

[code]

`cypress/plugins/index.js`:

[code]

`cypress/support/step_definitions/navigation.js`:

[code]

`cypress/integration/Homepage.feature`:

[code]

I'm running this on Ubuntu 18.04 with `node` and `npm` from the Ubuntu package repository.

When I run `cypress open` and try to run my `Homepage.feature`, I get the following:

[2018-11-14 16:45] ludmilanesvitiy opened #112 "SyntaxError: 'import' and 'export' may appear only with 'sourceType: module'"
Operating System: Linux
Cypress Version: latest
Browser Version: latest
BUG/Question

###Current behavior:
I'm trying to create e2e tests with Cypress + Cucumber + Typescript + cypress/webpack-preprocessor
When step-definition file don't have imports/exports - everything works well
But when I'm trying to use PageObjects in TS, using export-import statement, then I got an error like 'import' and 'e

[2018-11-14 18:13] ironchicken commented on #10
It seems to be working correctly with Chrome 70 now. I'm not really sure what I changed. I've been working on the step definitions. Perhaps the problem was caused by broken step definitions?

[2018-11-15 10:55] ludmilanesvitiy commented on #25
@lgandecki Hi! Global hooks should available for the next reasons:
- global hook give the possibility to support DRY principle (when user want to do any interactions with his app before all or before each scenario/feature)
- global hooks give the possibility to do any actions when any scenario have failed (like making screenshots or saving browser console logs anywhere)
- global hooks give the pos

[2018-11-15 11:09] ludmilanesvitiy opened #113 "Support Custom Cucumber World"
Need to have possibilities to override or extend Custom Cucumber World.
https://docs.cucumber.io/cucumber/state/#world-object
It'll give us the next possibilities:
- extend world with any additional services, which help developers make scenarios and features independent
- get any additional unique data from world constructor available in any step, like given/when/then

As an example of usage: deve

[2018-11-18 18:41] mkusher opened #114 "Add webpack loader"
Webpack can be supported by having a loader for `.feature` files, similar to what is already done for browserify.

Current workaround when using webpack is to have both webpack for `.ts` and browserify for `.feature`. Example (https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/18#issuecomment-384245388)
[code]

Having loader might be a solution for: https://github.com/TheBrainF

[2018-11-20 13:40] lgandecki commented on #114
I don't understand what you mean, what's the usecase? can you do this as a showcase? I don't want to add things to the codebase just because we can.
The #112 I believe is invalid, as I (and most people) used typescript with import/export.

[2018-11-20 17:20] mkusher commented on #114
it's useful for projects where webpack is already configured for transpiling cypress. Right now cucumber preprocessor will use browserify for `.feature` and everything it will require/import, e.g. step definitions. This means that step definitions won't respect my webpack configuration(and shouldn't since they are transpiled using browserify), so one has to duplicate all configurations for both we

[2018-11-21 23:11] mkusher commented on #114
@lgandecki no, I don't share code between tests and app, I just have a configuration for ts paths and webpack aliases that I would like to reuse in both specs and steps

[2018-11-22 08:44] ludmilanesvitiy commented on #112
@lgandecki Thank you for the reply. Yes, in my case looks like TS just ignored, but in your example for compiling is used browserify-preprocessor. But I need webpack-preprocessor. Any ideas how to solve? And what could be wrong here https://github.com/ludmilanesvitiy/cypress-cucumber-example/blob/master/cypress/plugins/index.js?

[2018-11-23 12:36] LaurenceRolandJames commented on #110
Having got to know cucumber a bit more I can see that having my step definitions tightly coupled to my features is a cucumber anti pattern: https://docs.cucumber.io/guides/anti-patterns/

After refactoring my step definitions to be non-scenario specific this is no longer an issue.

[2018-11-23 12:36] #110 closed

[2018-11-26 16:58] drewloomer commented on #112
@ludmilanesvitiy Have you found a fix for this? I'm seeing the same error using a similar setup to what you have in your repo.

[2018-11-27 09:48] ludmilanesvitiy commented on #112
@drewloomer No, I don't have a fix for this. Maybe @lgandecki could advice) According to his comments in #114 "I (and most people) used typescript with import/export." - he should know the secrets)

[2018-11-27 10:14] alexttransisland commented on #25
I am also not sure about questions whether the hooks are needed or not. The cucumber is just a DSL wrapper of actual test. In usual (mocha/chai) DSL wrapper you have `before`/`after` hooks, same way it could work for cucumber DSL.
As cucumber usually used for defining plain-language or business language, it's strange to use technical steps like
[code]
I would rather decide
[code]
vs.
[code]

@lgan

[2018-11-27 15:31] kayvanbree commented on #25
I agree with @alexttransisland that something technical has no place in the Cucumber syntax. My co-worker is trying to transform his tests to Cucumber style now. He has a login step and putting that as `Given when I am logged in and on the page` doesn't make any sense.

Is there anybody that has done some work towards this already?

[2018-11-27 15:34] kayvanbree commented on #91
Check out #25, there is no support  for before and after hooks yet.

[2018-11-27 15:41] #101 closed

[2018-11-28 01:59] leksinteractive commented on #25
Yeah we're doing something similar as that logged in step @kayvanbree, but we've placed it in the `Background` section. How do other people handle this logged in requirement? Obviously placing it in the `Background` section means it will run before each scenario, but this causes so much redundant repetition. Also any ideas about achieving a global `before` and `after` hook, for things like databas

[2018-11-28 09:40] alexttransisland commented on #91
@darasandeep91 can you share your gist with `beforeEach` hook? I can't find a native way to write it using commands with cucumber

[2018-11-29 00:11] hackel commented on #104
If the scenario doesn't have any examples, you can get the scenario name from `cy.state('ctx').test.title`.  Otherwise the name will look like `${scenarioName} (example #${index + 1})`.

[2018-11-29 09:17] kayvanbree opened #116 "Include background section in documentation"
I noticed that the plugin supports the background section since #36 was approved. Documentation should be updated accordingly.

[2018-11-29 09:23] kayvanbree commented on #25
I did not know background was already supported. There's no docs for it. I created #116 for that.

[2018-11-29 10:45] lgandecki commented on #25
@leksinteractive what do you mean it creates redundant repetitions? Do you want to leak state between different scenarios? Could you show me an example?

@kayvanbree good catch. If you have a moment I'd appreciate a PR with the docs update.
Could you tell me how would you do seeding/resetting the db in a pure cucumber project? using hooks, based on tags? but that's sill in a feature file..

[2018-11-29 10:50] alexttransisland commented on #25
@lgandecki the usual way to use cucumber in other languages is `env` file where you could do all the pre-setup needed. Something like `env.js` or `cucumberEnv.js` with
[code]
and then in cucumber feature you just execute your test or do additional setup per requirements

[2018-11-29 10:53] lgandecki commented on #25
@alexttransisland
I'm pretty sure you can do this with this package as well, have you tried?
https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests.html#Hooks

[2018-11-29 11:42] alexttransisland commented on #25
@lgandecki Of course I can do this if we talk about mocha/chai, but here we talk about Cucumber DSL. And there is no way to do this for cucumber features. (run same hooks)

[2018-11-29 12:07] lgandecki commented on #25
I still don't understand. Just put them in one of your step definitions files and they should work just fine :) I guess we could add a configurable file (like env.js) that would be imported automatically before all tests.
I personally prefer to create a js file and import it in the step definitions file that require a particular configuration (with before/after steps)

[2018-11-29 12:08] lgandecki commented on #25
btw, this cucumber is not fully a cucumber, it does use mocha beneath, so you can use all the mocha hooks. Your scenario becomes an it() block, and your feature is describe() block.

[2018-11-29 12:20] alexttransisland commented on #25
@lgandecki great. It simply worked
so actual `beforeFeature()` block becomes a simple `before` block for the file which contains first step for cucumber feature. 🤔
Thanks!

[2018-11-29 12:21] lgandecki commented on #25
No problem.. Happy it worked!

[2018-12-01 11:11] lgandecki commented on #114
Closed in #115 , thank you so much !

[2018-12-01 11:11] #114 closed

[2018-12-01 12:06] leksinteractive commented on #25
I for one would love to see a small code example (or ideally proper documentation) of how we can use the cypress hooks within scenario steps and step definition files. Specifically i'm interested in hooks before/after each feature file, and before/after the whole suite. Thanks!

[2018-12-01 12:17] alexttransisland commented on #25
@leksinteractive There are no such hooks as far as I understand. So basically to use `beforeAll()` hook it should be written in the way
[code]
to use beforeEach you could have same approach as ^ with background section, like
[code]
to use after or afterEach
[code]
[code]

According to @lgandecki current Cucumber preprocessor implementation is just a DSL which translates

meaning there should be ad

[2018-12-01 13:54] mkusher commented on #112
@drewloomer @ludmilanesvitiy take a look on #115, it should solve your issue

[2018-12-01 15:01] #116 closed

[2018-12-01 15:13] lgandecki commented on #111
I've made contributions to webdriverio, webdriverio-cucumber implementation, cucumberjs itself, chimpjs that uses cucumber for acceptance testing, and tried many more cucumber-related tools. I've never seen such an extensive watch mode at least in the JS world. Could you show me an example where magic like that happens?

I don't have anything against this idea, and would be happy to have this func

[2018-12-04 14:09] lgandecki commented on #112
Guys, please confirm and close the issue or tell us if you still have problems.

[2018-12-05 01:38] hackel commented on #111
Yeah, fair enough, I didn't mean to suggest the creation of a new magic watch framework capable of that level of code analysis.  Basically just looking for the equivalent of mocha's `it.only`.  In the meantime, I've been using tags and that gets the job done, but involves a lot of stopping and starting my test environment.  That could be avoided if there was a way to only filter by the `@only` tag

[2018-12-05 05:56] lgandecki commented on #111
Hmmm... I see.. how about you just put @only at the top of the feature level while running cypress with @only tag? Is this very inconvenient?

[2018-12-06 22:06] hackel commented on #111
Yes, that would get the job done!  I'll stick with that for now and see how it goes.  Thanks.

[2018-12-07 06:08] lgandecki commented on #111
I've been toying with an idea of @focus tag (similar to what we have in [chimpy](http://github.com/TheBrainFamily/chimpy) ) , that will allow you to focus on a specific scenario. You wouldn't have to start cypress test with this tag selected for it to work. If we find @focus in a .feature file - we focus. If we don't, we work in a "no-tag" mode, so we run everything.
Does this make sense?

[2018-12-07 14:35] lgandecki commented on #91
@darasandeep91
create a before.js file in the folder with step_definitions and put
before(() => {
  dbHelper.connect('...')
  dbHelper.seed('...')
})

there. Take a look here: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/25#issuecomment-443422175

[2018-12-07 14:35] #91 closed

[2018-12-07 17:06] lgandecki commented on #116
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-cucumber-preprocessor)
- [GitHub release](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-08 05:12] lgandecki commented on #111
@hackel take a look at this PR - https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/122/files#diff-04c6e90faac2675aa89e2176d2eec7d8R230  , I think you will like it :-)

[2018-12-08 09:31] lgandecki commented on #73
Hello 👋 @dvelasquez Would you be able to verify this? :) I'm doing some cleaning around this repo

[2018-12-08 13:18] zadigus opened #123 "Did tags behavior changed between 1.8.0 and 1.9.0?"
Hi,
I have the following feature file:

[code]

With `cypress-cucumber-preprocessor` version 1.8.0, if I run

[code]

and then run that feature, then everything runs fine, i.e. the tests are launched. If I, however, do the very same with version 1.9.0, then cypress complains that it can't find any tests for the feature:

![image](https://user-images.githubusercontent.com/8761254/49686377-e1609400-

[2018-12-08 14:52] lgandecki commented on #123
If I understand properly that would be a bug - would you be able to create a simple reproduction? I wonder whether the language makes any difference, but I think it probably shouldn't.
There are some significant changes around tags. Great that you caught this problem so quickly, thanks for letting us know!.

[2018-12-08 14:55] lgandecki commented on #123
Ok, I was able to reproduce this easily, so no need for reproduction from you - I should have a fix for this later today.

[2018-12-08 15:47] lgandecki commented on #123
Hello @zadigus  Please try 1.9.1 :)

[2018-12-08 16:15] zadigus commented on #123
@lgandecki very nice, it is working again! Thanks a lot!!!

[2018-12-08 16:15] #123 closed

[2018-12-11 00:18] dvelasquez commented on #73
Hi @igandecki after a lot of frustrations we decide to drop Cypress and use Selenium for our e2e testing.
The problem wasn't this plugin but the continuous breaking changed introduced by Cypress.

Anyway, thanks for the follow up.

[2018-12-11 00:18] #73 closed

[2018-12-11 14:38] loriepisicchio opened #126 "Cypress + Cucumber + Typescript + Webpack does not work"
Hello !
I cannot get my cypress tests to work in my Angular app, writing tests with Cucumber and Typescript.
Here is a repo that reproduces the issue: https://github.com/loriepisicchio/cypress-typescript-cucumber-demo.
To reproduce the issue, simply run `npm run cypress`
This will open the Cypress dashboard.
Then run Facebook.feature for instance. And you'll get the following exception :
[code]
Th

[2018-12-11 15:49] lgandecki commented on #126
Take a look here:

https://github.com/loriepisicchio/cypress-typescript-cucumber-demo/pull/1

I removed everything related to cucumber plugin and this still brakes.

looks like it's enough to have this line in any file:

/// <reference types="cypress" />

and things start to break, for some reason it starts to parse the Angular app tests - as you noticed.

if you remove that line from my fork, tes

[2018-12-12 08:04] loriepisicchio commented on #126
Thanks for your help. I'll try to make it work from end to end, and I'll let you know. :smiley:

[2018-12-12 12:56] TheGeminii opened #127 "<parameter> doesn't work in scenario outline table"
When using a `<parameter>` in a sentence in a scenario outline it works as expected: The `<parameter>` gets replaced by a value from the example table.

However when a `<parameter>` is used in a table in a Scenario outline it does not work as expected: The preprocessor correctly guesses the number of examples but for every run it does not replace the <parameter> with a value from the examples tabl

[2018-12-12 14:04] lgandecki commented on #127
Could you make a repo with this working in cucumber? Preferably with a scenario that makes sense at least a little bit. I'm not even sure what to expect from the second scenario to be honest

[2018-12-13 07:50] TheGeminii commented on #127
I created a github repository that illustrates the issue:
[https://github.com/TheGeminii/cucumber-test](https://github.com/TheGeminii/cucumber-test)

[2018-12-14 03:33] qileilove opened #128 "add tag to datatable seems didnt work"
![image](https://user-images.githubusercontent.com/3895501/49981677-f9bd2c80-ff93-11e8-85b1-0268443a8b32.png)
im trying use the tag for datatable, it seems not working. but in java cucumber it support this feature, how do i implement this feature?

[2018-12-16 19:19] EmmanuelDemey opened #129 "Documentation about step_definition / vuejs"
Do we have somewhere a documentation about the parameters we can set in the package.json file ?
I would like to contribute to this.

This afternoon, I had to setup a vue-cli generated app with this cypress preprocessor, and I needed to set the `step_definition` parameter . I think a lot of people will spend few minutes finding the right parameter to set.

[code]

Maybe we can have a "How to setup

[2018-12-19 09:59] kayvanbree commented on #25
@lgandecki I used the background section (added to readme) and not the hooks, so maybe @alexttransisland is better for the job.

About the redundant documentation: The best part of Cypress is that you can find anything about it in one place. You don't have to look up parts in your assertion libraries docs, and some in your test runners docs. The beforeEach and afterEach (after hooks should be avoi

[2018-12-19 10:10] kayvanbree commented on #111
@hackel @lgandecki this one can be closed I guess.

[2018-12-19 10:16] #111 closed

[2018-12-21 08:02] jogelin commented on #126
It is working on my side:

**./package.json**
[code]

**./cypress.json**
[code]

**./tsconfig.json**
[code]

**./cypress/webpack.config.js**
[code]

**./cypress/integration/app/main.feature**
[code]

**./cypress/support/step_definitions/steps.ts**
[code]

I only have an issue with local steps if I put `nonGlobalStepDefinitions` to `true` in my `package.json`

[2018-12-21 09:06] lgandecki commented on #126
great to see you got it to work @jogelin , how are you liking it so far? Any feedback?

[2018-12-21 13:57] lgandecki commented on #129
We don't use Vue here at @TheBrainFamily so I don't really understand what the problem is, and how it is unique to vue? Cypress configuration should not depend on whatever technology you use to build your frontend. We don't have a section for react or angular, could you please explain to me what makes Vue different?
Why do the step definitions have to go to subdirectory of tests/e2e?
We have a doc

[2018-12-21 14:05] lgandecki commented on #128
Hello @qileilove

This feature might indeed be not implemented at this point. I'm happy to take a PR. If you need this for work but don't have time, or knowledge, to create a PR - we are happy to build this feature for you, if your company would be willing to sponsor it. :) Please contact us if interested.

Thanks!

[2018-12-21 15:11] Gillespie59 commented on #129
The proposal is just to make the life of VueJS developers easier. When we setup a VueJS application with the Cypress support (thanks to VueCLI), all Cypress files are located to a tests/e2e/* folder.
As your preprocessor are looking for Cypress files in the default folder, we have to set this option.

If one day Angular CLI or create-react-app include Cypress support to their project, we'll need t

[2018-12-22 06:46] lgandecki commented on #129
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#step-definition-location-configuration

:-)

But I understand your point, I didn't know that vuecli creates cypress configuration on it's own - so I'm happy to accept a PR that explains the steps for adding this processor to the default vue/cypress setup. There is one PR open already but I think it has unnecessary steps there, I asked

[2018-12-26 18:48] bkostrowiecki commented on #127
I have issues with that too. As far as I understand, the problem occurs because after expanding the examples into scenarios steps aren't parsed, so each example is treated as a completely different scenario... Which, of course, is not implemented.

When you add a step definition with specific example data, the cypress understands it.

[2018-12-27 14:51] alveshelio commented on #112
Hi,

I'm still having the same issue.

in plugins/index.ts I have

[2018-12-27 16:04] alveshelio opened #130 "No tests found in your file"
HI,

I have tried to set up a project with cypress / cypress-cucumber-preprocessor and typescript without much success. I've decied to give it a shot without typescript. However, it's like Cypress is not recognizing my tests. I'm getting this error:

[code]

This is my plugins/index.js I have
[code]

My cypress.json file
[code]

My package.json file
[code]

This is my feature file google.feature
[

[2018-12-27 16:57] sawasawasawa commented on #130
Hi, @alveshelio, happy to see you trying out this library.

To start with - you do not need need this line ```"ignoreTestFiles": "*.feature"``` in your cypress.json.

Secondly - where do you have your google.spec.js file? Is it located anywhere else than `cypress/support/step_definitions/` you should add some extra config to your package.json, as described here https://github.com/TheBrainFamily/cy

[2018-12-28 14:37] alveshelio commented on #130
Hi @sawasawasawa,

Thank you for the reply. My file  `google.spec.js` was located in `cypress/integration`, I followed this example: https://github.com/TheBrainFamily/cypress-cucumber-example. In this example, the `google.js` file is in `cypress/integration/google`.

I think my error was that I was trying to run the .`js` files and in fact, cypress will run the `.feature` files.

Now my `.feature`

[2018-12-28 15:03] sawasawasawa commented on #130
That's the 'new' approach that you used - it was introduced here just around 3 weeks ago.
I'm glad it's working for you now. Happy hacking!

[2018-12-28 15:03] #130 closed

[2018-12-28 15:08] lgandecki commented on #130
@alveshelio Please confirm - did it actually work for you in the end? To use the 'new approach' you need to use this configuration:

[code]

[2018-12-28 15:59] alveshelio commented on #130
Hi @lgandecki,

Yes it did work, I've used `"nonGlobalStepDefinitions": true`

Thank you very much for the support.

[2018-12-28 16:10] alveshelio opened #131 "Support for French Definitions"
Hi,

My manager wants me to describe the tests in French. We have some tests in French that we've done with cucumber and selenium js
[code]

It works fine in seleniumjs. This is a step_definition that we have
[code]

However, when I use this `.feature` file and create the definition steps, cypress does not recognize the tests. I get `Error: Step implementation missing for: on est dans la liste de

[2018-12-28 16:55] lgandecki commented on #131
Can you try with French language but without any special characters?

[2018-12-28 19:42] alveshelio commented on #126
Hi @jogelin,

Can you please post the content of your `/plugins/index.ts` file. I'm trying to make it work but I'm getting this error:
[code]
It looks like cypress-cucumber-preprocessor isn't able to handle the `.feature` files

This is my `plugins/index.ts` file
[code]

Thank you

[2018-12-31 14:38] alveshelio commented on #131
Hi @lgandecki,

First of all, I want to wish you a happy New Year :)

I'd like to know if there's anything here that we'd need to do? Would we need to translate the keywords in French? If so, I could help with that.

Thank you

[2018-12-31 14:48] lgandecki commented on #131
Hello

Thanks, you too.

I won't be able to look at this till the next week.
Maybe @sawasawasawa or @lucetius will be able to help you, or at least diagnoze the problem.

What would help to start with would be a simple reproduction (yes, it's easy for us to make it, but if you can just push something that you have it will save us some time)

[2019-01-03 06:52] jogelin commented on #126
@alveshelio Hello, sorry for the delay, no so much time for the moment ;)

**./e2e/cypress/plugins/index.js**

[code]

2 remarks:
- I am using a simple `.js` file because I don't remember why but don't think it is working with a `ts` file for the plugin. I am using typescript for all other files (support, etc..)
- I prefer to use the webpack loader for cucumber instead of a plugin configuration

[2019-01-04 03:00] ankita612 opened #132 "Cannot find module 'cucumber-messages/node_modules/protobufjs'"
getting
Error: Cannot find module 'cucumber-messages/node_modules/protobufjs' from '../cypress-demo/node_modules/gherkin/dist/src'
 while running feature file

[2019-01-04 03:40] #132 closed

[2019-01-06 01:42] flowt-au opened #133 "Question: Is it possible to install globally and run per project"
Hi.
I only want one global install of Cypress and Cypress Cucumber, then use it via config per project. I have installed both globally via npm. I can go to my project folder where there is a cypress.json config file and start Cypress from command line, select the project (first time via Windows Explorer, after that Cypress has a list of recent projects) and all is well so far.

Now, in the Cypress

[2019-01-06 02:32] flowt-au commented on #133
More on this...
Following the docs, in my project root I have

![screen shot 2019-01-06 at 1 13 43 pm](https://user-images.githubusercontent.com/37637590/50731295-027cd900-11b5-11e9-8865-6f3ca3397ef9.png)

My start.feature is

    Feature: Start cPanel
        As a user I want start the Survey Control Panel
        Scenario: Start Survey Control Panel
            Given I start the app

[2019-01-07 09:21] lgandecki commented on #133
You skipped the part that tells you about the configuration of the nonGlobalStepDefinitions
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#configuration

so it used the default one, the usage of is explained here:

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#step-definition-location-configuration

Feel free to clarify the docs, but I think the problem is that y

[2019-01-07 09:21] #133 closed

[2019-01-09 21:22] ralphavalon commented on #79
@bhreinb Any workaround so far? I have the same problem. I want to use a tool that parses that json to living documentation (https://github.com/rmpestano/cukedoctor), but I can't get that json anywhere. And apparently no one created some Cypress Cucumber Json Reporter.

[2019-01-15 16:25] miteshpatel1 opened #134 "Webstorm intermittently resolving step defs"
Hello,

I am new to cypress, as I have previously been using cucumber for JVM. I need some help...

I wanted to know if there is a particular version or configuration required for Webstorm, in order for it to resolve feature files to step defs? I have cloned the cypress-cucumber-example and opened it using Webstorm 2018.1.5, however none of my feature files are able to resolve the underlying step

[2019-01-15 16:27] #134 closed, assigned to nobody

[2019-01-15 16:38] miteshpatel1 commented on #134
Hello - I made those updates, and still see the same behaviour. I assume this isn't something you are experiencing, and that you are using the Cypress Cucumber Preprocessor Style (recommended!)?

[2019-01-15 17:22] lgandecki commented on #134
Both styles should work the same way, yeah. Sorry :( if you can make a repro I could take a look, but it seems like a webstorm issue

[2019-01-16 08:44] miteshpatel1 commented on #134
Yes I think its webstorm as well. Any chance you can share the version of webstorm you are using?

[2019-01-16 14:09] kayvanbree commented on #134
Webstorm is awesome, it would be a shame if you'd have to use something else. For me, to get Webstorm to recognize my steps I need to use a capitalized Given When and Then, but also, you have to use the `/^your step?/` instead of comma's. Cucumber expressions don't work at all. I have noticed that it might not be the most stable solution.

[2019-01-16 14:15] miteshpatel1 commented on #134
Yes, I like Webstorm too!

Maybe I didn't make my issue clear - I can get webstorm to resolve step defs when I am using the Oldschool/Legacy Cucumber style (where all the step defs are under a single folder). However when I move to Cypress Cucumber Preprocessor Style (where we set nonGlobalStepDefinitions is true), then it doesn't seem to work.

I'll keep chipping away...hopefully I'll find a solu

[2019-01-16 14:52] miteshpatel1 commented on #134
Well I literally:

1. downloaded Webstorm 2018.3
2. cloned the latest cypress-cucumber-example
3. npm install

Step defs did not resolve. So I then decided to apply the changes requested here:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#webstorm-support

Still no luck!

________________________________
From: Łukasz Gandecki <notifications@github.com>
Sent: 16 January 2019 14:24

[2019-01-16 15:11] lgandecki commented on #134
Ok you are right!

This is extremely weird.

I tried to remove an openingFacebook.js file (I copied the source code of it to a clipboard ), then created a openingFacebook.js file in the same exact place,pasted the source code, and webstorm got it.

they might have broken the cucumber integration, they've recently updated it... :)

[2019-01-16 15:11] lgandecki commented on #134
so what I'm saying, webstorm didn't match the .feature file to the .js file initially, unless I made it from inside webstorm (instead of just using the one I just pulled from a repo).

[2019-01-16 17:13] dweller23 commented on #131
@alveshelio
My suggestion is creating a step_definition file for each step you are making in your feature file, so for the one you have the issue with I'd do something like:
[code]

[2019-01-16 20:59] jamiedust opened #135 "Uncaught TypeError: Parser is not a constructor"
Hi

Thanks for the plugin, we would really like to use it for our project. Unfortunately it does not seem to be working for us.

We have cypress set up and can run tests fine, but when we add in a `.feature` file the tests fail to run with an error:

`Uncaught TypeError: Parser is not a constructor`

Digging into it, it seems to be coming from here: https://github.com/TheBrainFamily/cypress-cucumb

[2019-01-17 09:17] kayvanbree commented on #134
I'm also on WebStorm 2018.3. WebstormSupport.feature recognizes the steps in webstormSupport.steps.js. I tried adding a step definition through Notepad++ and still the step was recognized.

When I change single quotes ( `\'I do something\'` ) to ticks ( `\`I do something`\` ) (and use Given etc instead of given), WebStorm starts to recognize steps. So yeah, can't reproduce the problem here. Are yo

[2019-01-17 09:41] lgandecki commented on #135
Hello @jamiedust . Thanks for using (or at least trying) our plugin. :-)
Can you please provide a reproduction? it obviously works for many people/companies, and also on CI when it uses .feature files to test itself. I just rerun on CI without cache to make sure it's not some dependency that was bumped out in the background with a breaking change - https://circleci.com/gh/TheBrainFamily/cypress-cu

[2019-01-17 14:19] jamiedust commented on #135
Hi, thanks for your response.

My colleague has set up an example application and it does seem to work OK for him, so we are going to spend some time doing spot the difference! Though at first glance there does not seem to be any differences with the set up.

I will reply here with our findings.

[2019-01-22 23:12] kellyprankin commented on #126
Any hints on how to get this to work in an Angular project since webpack is handled automatically? Should it be the same?

[2019-01-23 12:28] EmmanuelDemey opened #136 "Possibilty to set another path for commons step definition"
For the moment, commons step definitions should be located inside a `common` folder.
One of my client would like to define another folder in order to reuse some step definitions of other projects.
I think it is quiet an easy feature to implement.

We just need to add an extra options to the preprocessor. If this option is undefined, we can use as the default value the current path (`common/`)

Wha

[2019-01-23 14:49] lgandecki commented on #136
I guess we could make this configurable, but I don't feel the advantage yet, could you give me an example? Do you want to do something like "../../otherProject/cypress/integration/common" ?

[2019-01-25 09:51] EmmanuelDemey commented on #136
Yes. In fact they have something like a monorepo based on TFS. So they would like to share some common step definition between multiple projects.

[2019-01-25 10:02] lgandecki commented on #136
Sure, I'm happy to take a PR here if this is something you would be interested in doing, as you said, should be pretty easy

[2019-01-25 14:05] holgergp opened #137 "Scenario Outlines and data-tables"
Hi all,

I'm encountering a problem while using Scenario Outlines and data-tables.
If I provide sth like:
[code]
then I get the error
[code]

It seems that the example values don't get pulled into the data-table.
This works when using plain cucumber.js

The concrete example can be found [here](https://github.com/holgergp/cypressioCucumberExample/blob/master/cypress/integration/bohnen.feature) (tho

[2019-01-25 16:41] holgergp commented on #137
I made a smaller example in your test suite and I can reproduce this behavior:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/compare/master...holgergp:scenarioOutlineAndDataTables?expand=1

[2019-01-25 16:52] EmmanuelDemey commented on #136
Thanks. Let's me send you PR asap :p

[2019-01-28 10:18] lgandecki commented on #137
yes, this was probably never implemented. @dweller23 would you like to take a stab at it?
@holgergp you are also more than welcome to give it a try. :-) You have a failing test already, not it's just a matter of making it pass... ;-)

[2019-01-28 15:26] ludmilanesvitiy commented on #112
@lgandecki I've tried recommendations from #115 but have same problems, for quick reproducing I've added this commit: https://github.com/ludmilanesvitiy/cypress-cucumber-example/pull/1/commits/924b98c3407534428912c2d588bc91fbd453fe77

[2019-01-28 15:54] mkusher commented on #112
@ludmilanesvitiy https://github.com/ludmilanesvitiy/cypress-cucumber-example/commit/924b98c3407534428912c2d588bc91fbd453fe77#diff-4bcea4966f5e62ded90298c2b0907445R22
same as above: pass everything to webpack, not only js/jsx

[2019-01-29 20:08] holgergp commented on #137
Thx! I will have a look!

[2019-01-29 20:37] darasandeep91 commented on #25
Hi  @lgandecki

To make things clear, I have created a hooks.js file in step_definitions folder and have placed the following code:

**Here is my directory structure:**

Cypress
      -Integrations
            -Folder 1
                 -step_definitions
                         -step_definitions1.js
                          - hooks.js
                  a.feature

            -Folder 2

[2019-02-03 22:52] cookiescrumbs opened #139 "beforeEach recommendation not working as intended"
It looks like the beforeEach hook is running before every feature and not just the one it's suppose to be related to... Please see screen shot from the example repo.

![image](https://user-images.githubusercontent.com/1229271/52184045-50ade800-2806-11e9-8a96-75c59144bac7.png)

**Log: "This will run before every scenario of GoogleNews.feature test, but NEVER for Facebook/Google feature files"**

[2019-02-04 10:07] MarinaTov opened #140 "On launch, spawns servers infinitely."
After npm install --save-dev cypress-cucumber-preprocessor

I've gotten

when yarn is working this error appears
`warning cypress-cucumber-preprocessor > @cypress/browserify-preprocessor > cjsxify > coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript"`

and after that

[code]

[2019-02-05 03:33] lgandecki commented on #140
Hello MarinaTov, thanks for sing our software. It doesn't really seem related. Could you make a reproduction?

[2019-02-05 04:08] lgandecki commented on #139
oh wow, you are right - this happens when you run all feature files together in the cypress open GUI.
But, when I create two js files:

[code]

and
[code]

it runs both befores when I run them together, but only one, when separately. I don't think this is how cypress should work. It makes little sense for the same test to behave the same when:
1) run separately
2) run with cypress run
but differen

[2019-02-05 08:14] lgandecki commented on #139
@cookiescrumbs cypress team acknowledged it as a bug on their side: https://github.com/cypress-io/cypress/issues/3323 . Thank you for the report, I'm closing this one for now as it is not related to our plugin. :-(

[2019-02-05 08:14] #139 closed

[2019-02-06 00:07] sanik-bajracharya commented on #25
@darasandeep91 Make sure you have `"nonGlobalStepDefinitions": true` set in you `package.json` or `.cypress-cucumber-preprocessorrc' file. It disables global step definitions and uses the step definitions and before/after hooks based on the folder structure you setup i.e Folder 1 and Folder 2.
Also be sure to remove `"step_definitions": "cypress/integration/**/path/to/step_definitions"` if you hav

[2019-02-06 12:29] MarinaTov commented on #140
Yes, I've reproduced it many time. The  problem disappears after `uninstall --save-dev cypress-cucumber-preprocessor`

Adding /node_modules/cucumber/ in .flowconfig [ignore] doesn't help me. Maybe any conflict with other dependencies in my project? But I can't predict what can it be.

[2019-02-06 12:51] lgandecki commented on #140
I would need a reproduction to try to understand what's going on. like a GitHub repo where this happens. Simplified is fine, I don't need your code

[2019-02-06 13:01] MarinaTov commented on #140
I'm afraid It's impossible. I can copy some files from project, but this won't reproduce the problem

[2019-02-07 10:09] ReemaMoroney commented on #25
I am facing same issue as @darasandeep91 . Hooks are seem to be always global irrespective of any folder they are placed. @sanik-bajracharya  I did the settings mentioned still hooks are global.

Scenario which are affected due to this in my case is:
I have multiple feature files - login.feature, cropping.feature, dashboard.feature. For login scenarios, I don't want user to login but for all other

[2019-02-07 10:16] lgandecki commented on #25
@ReemaMoroney @sanik-bajracharya   this is exactly how it should be, and works, as in the example here: https://github.com/TheBrainFamily/cypress-cucumber-example . Please make a reproduction if it doesn't work for you.

There is one caveat which is running all features inside the GUI at the same time - https://github.com/cypress-io/cypress/issues/3323 which is a bug in cypress. But if you run you

[2019-02-08 05:15] lgandecki commented on #140
you have to put at least a bit of work, and try to reproduce it in a clean repo, otherwise I can't help you here. The coffeescript warning is probably not related (you can verify by removing the cypress-cucumber-preprocessor and installing @cypress/browserify-preprocessor itself).
There is a possibility that just having flow + cypress cucumber preprocessor causes some problems.

Also, I don't real

[2019-02-08 06:58] MarinaTov commented on #140
The problem appears after `yarn validate` and build in Travis is failed. The same situation on a local machine

[2019-02-08 09:28] gituser3000 opened #141 "let/ this usage"
Hello!
I have a problem using 'let\this' in tests with plugin.
Accoring to docs of cypress(https://docs.cypress.io/guides/core-concepts/variables-and-aliases.html#Variables), i can define variable, assign a value during tests and then use it.
As i see it right now, tests are 'precompiled', so assigning doesn't work.
Example:

[code]

Same example with 'this.';

[code]

Pre-compiling ?
[code]
"cypr

[2019-02-08 15:37] amenk commented on #83
Coming here: https://github.com/iMi-digital/mink-cypress

[2019-02-08 17:27] lgandecki commented on #141
what you are trying wouldn't work with cypress as well. The tests "precompile" with pure cypress as well :) They queue the commands on the "initial run through the code", so using variables the way people are used to doesn't work.

what you show here:

[code]
is not really the same as cypress example:

[code]

Please try this :
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#sharin

[2019-02-08 18:43] gituser3000 commented on #141
Sure, my fault. Already ended up with the example from the main page.
What about using 'this'?

[2019-02-09 04:32] lgandecki commented on #141
As per their example:

beforeEach(function () {
  // alias the $btn.text() as 'text'
  cy.get('button').invoke('text').as('text')
})

it('has access to text', function () {
  this.text // is now available
})

treat all your steps in a scenario as one it (we can't change it unfortunately, till cypress allows us to keep state between tests in a specific group).

So, if you do set up beforeEach that

[2019-02-09 04:32] #141 closed

[2019-02-12 10:38] #137 closed

[2019-02-12 10:41] lgandecki commented on #137
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-cucumber-preprocessor)
- [GitHub release](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-15 15:38] NielsInc opened #143 "Is the "Rule" keyword supported?"
In the Gherkin v6 [spec](https://docs.cucumber.io/gherkin/reference/#rule), the `Rule` keyword was added.

When I add this keyword, a parsing exception is thrown:

    CompositeParserException: Parser errors:
    (12:3): expected: #EOF, #TableRow, #DocStringSeparator, #StepLine, #TagLine, #ScenarioLine,
    #ScenarioOutlineLine, #Comment, #Empty, got 'Rule:

Are there any plans to include the keyw

[2019-02-18 07:47] EmmanuelDemey commented on #136
I think we can close this one.

[2019-02-18 07:47] #136 closed

[2019-02-19 05:10] jun1983 commented on #128
I might have the same problem. I try to ignore some examples with a tag on it. Seems not working

[2019-02-26 14:49] uchoaaa opened #144 "ReferenceError: Unknown option: .caller."
Hi there,

I'm getting this error on my Quasar Framework (Vue.js) app. What am I doing wrong? 🤔

Any help will be appreciated.

Cheers

[2019-02-26 15:06] lgandecki commented on #144
Hello, unfortunately that's not enough details for us. Could you show us the whole stack trace? And preferably - a small reproduction?

[2019-03-01 11:12] holgergp commented on #127
This should work by now as https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/137 was merged.
At least my usecase at https://github.com/holgergp/cypressioCucumberExample works now with this change.
Could you try it with version 1.11.0 of the preprocessor?

[2019-03-01 11:15] holgergp commented on #47
This should work by now as #137 was merged.
At least my usecase at https://github.com/holgergp/cypressioCucumberExample works now with this change.
Could you try it with version 1.11.0 of the preprocessor?

[2019-03-05 15:11] akatechis opened #146 "Unable to specify configuration in lerna repo with hoisted packages"
I've got a lerna repo with packages/* packages and apps/* packages. In one of my apps, I've added `cypress` and `cypress-cucumber-preprocessor`. When I go through the example, I'm able to get my .feature file detected by the cypress runner, but when I execute it, it doesn't detect any step definitions.

I added some logs to see where the issue might be, and I can see that the cosmiconfig is not fi

[2019-03-05 15:53] sabin-bhattarai-cko opened #147 "Printing to console."
Is it possible to have the test printed in following manner?

[2019-03-05 15:54] #147 closed

[2019-03-05 15:54] lgandecki commented on #147
no.

[2019-03-05 15:55] lgandecki commented on #146
Hello @akatechis. Thanks for using our package (or at least trying!)
Could you make a small repro for us?

[2019-03-05 17:10] akatechis commented on #146
Hi @lgandecki, I was able to get past this issue, seems like I was neglecting some configuration. Now, when I click on the feature file, I see that the runner seems to be requesting the step definitions correctly, as seen in the console below:

[code]

I still get the same issue, in the automation UI, mentioning no steps defined.
![image](https://user-images.githubusercontent.com/1058931/53823253-

[2019-03-05 17:13] akatechis commented on #146
Sorry for the multiple edits, I fat-fingered some of the code snippets as I was pasting

[2019-03-05 17:25] akatechis commented on #146
Finally figured this out, I was iterating on the phrase in my feature file, and without realizing it, the matcher in the step definition did not match what was in the feature file.

Apologies for taking up your time, and thank you so much for such an awesome tool. I was only recently made aware of cucumber and cypress, and using them together unlocks so many possibilities for us. I'm really excite

[2019-03-05 17:25] #146 closed

[2019-03-06 04:05] lgandecki commented on #146
Thank you for kind words @akatechis ! Feel free using this space if you need any help. :-)

[2019-03-06 09:22] paurakhsharma opened #148 "Better way to run a implementation with different expressions"
I want to run certain implementation with different expressions.
I have some step which is `given` step for certain scenario but `when` step for other scenario

For example:
In one scenario I have
`When a user has browsed to the homepage`
On the other scenario I might use it in `given` step
`Given the user has browsed to the homepage`

I want same implementation to run in both cases,
My current so

[2019-03-06 09:53] lgandecki commented on #148
try
[code]

[2019-03-06 10:19] paurakhsharma commented on #148
@lgandecki Yeah, this seems to be the best way. Thank you

[2019-03-06 10:19] #148 closed

[2019-03-06 10:22] #144 closed

[2019-03-06 10:23] lgandecki commented on #143
It's not, and no immediate plans as we don't need it at the moment. Happy to take a PR!

[2019-03-06 15:46] joshiste commented on #139
As workaround you could guard the test, e.g:
[code]

[2019-03-06 19:04] Dragon160 opened #149 "Typescript: "Uncaught Error: Your OS "browser" is currently not supported by node-cachedir.""
When using Cypress with the cypress-cucumber-preprocessor plugin it works pretty good until I switch to typescript.
So 'normal' cucumber with stepdefinitions written in *.js is working.

### Expected behaviour

Should work also with typescript.

### Actual behaviour

After executing the test via `cypress run` or `cypress open` the test stops with the following error message:

### My Setup

Node ve

[2019-03-10 14:03] zhammer opened #150 "expect assertions in steps being called before feature run"
having a weird issue where any `expect`s in my step definitions are executed before my actual feature is executed. (i don't know how to run `cypress-cucumber-preprocessor` with debug logs so i'm not sure if this is happening in preprocessing or at the start of the test run)

i added `expect(2).to.equal(2)` to the `When` step definitions and confirmed that that assertion also runs at the start of t

[2019-03-10 14:07] lgandecki commented on #150
This is how cypress works - in the first run it queues the events (created with cy API), and after that it actually fires the event from the queues.
Try cy.then(() => { expect(localStorage.getItem("accessToken")).to.be.null; }), although I'm not sure if you will get the correct localStorage that way, that's a different story. In general, please ask cypress specific questions in cypress related pla

[2019-03-10 14:07] #150 closed

[2019-03-12 13:58] jaterlwj opened #151 "Running Cypress in headless mode only shows "Scenario""
Hi cypress-cucumber-preprocessor team,

I would like to first express my thanks on such a wonderful work that you guys done and contributed.I am recently using cypress-cucumber-preprocessor as part of my workflow to write tests in Cucumber.

However, I have noticed that reporters are only reporting pass/fail cases as a whole "Scenario" and not for each step definitions (Given, When Then). Is this

[2019-03-14 11:04] miteshpatel1 commented on #75
Hello - any updates on the development of this feature?

[2019-03-14 11:08] lgandecki commented on #151
Thanks @jaterlwj !

Unfortunately, I don't have good news for you. We are still waiting for
https://github.com/cypress-io/cypress/issues/686
to be implemented.

Please read here for more details:

https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/44
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/90

[2019-03-14 11:08] #151 closed

[2019-03-14 13:01] jamime commented on #134
I'm experiencing the same thing. It started happening after restarting WebStorm.

[code]

[code]

[code]

[2019-03-14 15:56] jaterlwj commented on #151
Thanks for your response @lgandecki !

Appreciate the clarifications and I understand the reasoning behind it now.

[2019-03-18 17:02] iboughalem opened #152 "Variable sharing between two steps"
Hello everyone,

## Description
I am working on a POC project and I want to share the variable **newPassword** from the **_Then_** first step to the second one using the *cy.wrap().as* to create the variable and then access it by **_cy.get("@secret")_** but the test seems to not be able to get the variable.

When I log **_cy.log(newPassword)_** and **_cy.log(cy.get("@secret"))_** in the first step

[2019-03-19 03:52] lgandecki commented on #152
Can you try and build a non-cucumber version first? once you have it working with pure cypress, I'd recommend trying to doing the same with cucumber. If you can't figure out in cypress - please ask questions there.

In particular, this:

let password = cy.get("@secret")

will not work as expected.

You should do something like cy.get('@secret').then()

https://docs.cypress.io/api/commands/get.html

[2019-03-19 14:00] iboughalem commented on #152
Hello Łukasz,

Thank you for your response.
I was able to make it work, as you suggested, using **cy.get(@secret).then()**

[code]

[2019-03-19 14:00] #152 closed

[2019-03-25 15:53] k15a commented on #140
If it's still a problem for you try to add:

[code]

to you .flowconfig

[2019-03-26 23:21] khoanguyen96 commented on #129
Hey, just wanted to add something unexpected I ran into.

I'm using the new recommended style. But I couldn't get the preprocessor to pick up my common reusable step definitions. I finally figured out it was because of @vue/cli configuring cypress within `plugins/index.js`:

[code]

Whereas the preprocessor parses `cypress.json` for the `integrationFolder` value: https://github.com/TheBrainFamily/

[2019-03-27 10:58] sb5512 commented on #41
For my own use I created the following website which might be help. Basically copy your feature file content to the left and get the javascript code to the left.

https://gherkin-to-js.herokuapp.com/

[2019-03-27 11:00] lgandecki commented on #41
nice! Thanks for sharing

[2019-04-02 10:41] simbro opened #154 "Unable to stub http requests"
When I try to run cy.server() in order to mock http requests that are executed as part of the tests, I get the following error:

`Uncaught CypressError: Cannot call "cy.server()" outside a running test.....`

I don't know how to get this to work.  This is my code:

    import { Given, Then } from 'cypress-cucumber-preprocessor/steps'

    beforeEach(() => {
      cy.server()

      cy.route({

[2019-04-02 12:59] LeroyDoornebal commented on #52
@lgandecki Did you ever get typescript to work as well? At the moment, when I try to import a .ts file like so:
[code]

The module can not be resolved, although my editor can find the file (thus ruling out a wrong file reference)

[2019-04-02 13:51] lgandecki commented on #154
Can you try this in cypress itself and see if you can get it to work there? beforeEach is straight from cypress - so if it doesn't work there, it won't work anywhere and the problem is not related to our tool.

You might also want to try Background section

[2019-04-02 17:19] LeroyDoornebal commented on #52
@lgandecki Did you manage to get it to work with TypeScript? I've been trying to import a .ts file in the step_definitions (just a simple object with values), but for some reason it is unable to locate the module. I'd like to import something from the `src` directory (outside of the cypress directory). I am not really sure what is going on here and if this could be fixed using just webpack config.

[2019-04-02 18:25] LeroyDoornebal commented on #52
Ah. It was an issue with the webpack.config.js. I had to change my webpack config accordingly. I'll post it here for completeness, maybe others can benefit from it too.

[code]

[2019-04-03 14:11] Huffman17 commented on #70
I am having a similar issue, I am trying to separate features from step_definitions so in my package.json :
`"cypress-cucumber-preprocessor": {
"step_definitions": "./cypress/integration/project/stepdefinitions/"
}`

and my file path for features is cypress/integration/project/features/file.feature

When I run the feature, it cannot find my step definitions.

[2019-04-03 16:24] novarichuffman opened #155 "Support Cucumber Html Reporter"
I think it would be awesome to add support for cucumber html reporter. As it currently works, it's not able to take the report generated by mochaweseome and even then, tests ran in cucumber are are output as `if (backgroundSection) {
  backgroundSection.steps.forEach(step => stepTest.call(this, step));
}
scenario.steps.forEach(step => stepTest.call(this, step));`

Maybe I'm missing something but t

[2019-04-04 09:27] sabin-bhattarai-cko commented on #93
Any solution to this?

[2019-04-11 14:53] Skelyos opened #156 "Ability to not run test that aren't tagged"
I am on the cypress-cucumber-preprocessor 1.11.0

I should have the ability to exclude tests that are not tagged.

When I run ` cypress run -e TAGS='@focus'` it goes through each feature file and does not detect any tests at all

When I run `cypress run TAGS='@focus'` it will go through each feature file but some of the scenarios do not have `@focus` on them and it will run them anyways however if

[2019-04-11 15:09] lgandecki commented on #156
Yes, this is a known limitation as per:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/100#issuecomment-432104807

we are happy to take a PR. :) otherwise we might work on this at some point.

We recommend doing focus using the browser workflow. What's the reasoning behind using @focus in the headless mode?

[2019-04-11 15:17] Skelyos commented on #156
Wanted to tag tests smoke and regression and to distinguish between them when running the tests

[2019-04-11 15:19] Skelyos commented on #156
Wanted to tag tests and distinguish between `@smoke` and `@regression`

[2019-04-11 15:26] lgandecki commented on #156
I see.. so if you have @smoke tag in one feature file and @regression in a different one.. and you run with TAGS=@smoke , then both feature files run?

[2019-04-11 15:51] Skelyos commented on #156
When I ran `cypress run TAGS='@focus'` it will get to that feature file run the single scenario & then every other feature file it will run all the scenarios regardless of tag

[2019-04-11 15:59] lgandecki commented on #156
Focus is a special keyword though. you said you wanted to use @smoke and @regression

[2019-04-11 16:07] Skelyos commented on #156
Does the same thing when I run `cypress run TAGS='@regression'`

[2019-04-23 11:38] anilkoithara commented on #156
I am having the same problem

[2019-04-23 13:03] JamboBuenna commented on #156
Hey we're seeing this issue too. If we run cypress run --env TAGS='@critical' it instead runs all tags.
I've got all tags either specified as @sanity or @critical.

[2019-04-23 13:41] JamboBuenna commented on #156
Ran
cypress run --env TAGS='@james' --spec 'cypress/integration/**/dashboardSanity.feature'

against

`Feature: Dashboard - this includes smoke tests for dashboard tab
Preconditon - User is logged-in

  @james
  Scenario: C16307
    Given I am on dashboard
    Then I should see Now cast

  @sanity
  Scenario: C16308
    Given I am on dashboard
    Then I should see Weather Charts

  @sanity
  Scen

[2019-04-24 10:07] ReemaMoroney commented on #156
Tags command not working. When I Ran - `cypress run --env TAGS='@sanity' ` its not running any tests. Tried with following :
- tags to single scenario
- tags to multiple scenario
- tag to a feature
- tag across multiple specs
It doesn't run any test for any case.
![image](https://user-images.githubusercontent.com/47415592/56651550-31925a00-6681-11e9-851a-fdd935280cfd.png)

[2019-04-24 10:27] anilkoithara commented on #156
I have the same experience, I think you need to remove the single quotes from the @sanity tag and run, like this cypress run --env TAGS=@sanity

[2019-04-24 10:38] RMoroney commented on #156
Thanks @anilkoithara :)

[2019-04-24 14:07] RMoroney commented on #156
@anilkoithara any idea how to handle expression for tags like `'@regression and @critical'`  it doesn't work with and without single quotes

[2019-04-25 12:18] westpole opened #157 "on"

[2019-05-01 21:13] xeger commented on #106
Just a note that I too was defeated by this. It seems to be a bug (or difference) between the `gherkin` JS parser and the `gherkin` Ruby parser.

My work around was to use a token `{enter}` in place of newline, since my developers are already accustomed to Cypress-style keycode tokens.

[2019-05-02 18:26] zhammer opened #158 "Fun cypress cucumber screenshot recipe"
since `*` is a valid gherkin step keyword, if you want to take screenshots / do visual regression testing during your cucumber cypress tests in a non-intrusive way, you can define the step:
[code]

and then write `* Snap! *` anywhere in your cucumber specs to take a picture:
[code]

[2019-05-02 18:27] zhammer commented on #158
also if you want to optionally add filenames

`* Snap! "main page" *`
[code]

[2019-05-03 19:22] smithabethi opened #159 "Ability to ignore the feature file that does not have the tag to run?"
I have feature files:
a.feature
@smoketest
scenario

b.feature
@regtest

c.feature
@smoketest

Now when i pass tag as @smoktest (cypress run --env tags=@smoketest) it should just pick a.feature and c.feature as b.feature doesnt have @smoketest tag. But cypress still opens up browser for b.feature file and closes. Can we ignore feature files which does not have tag.

[2019-05-03 19:47] smithabethi commented on #155
when I expand scenario outline in html report it displays like below instead of actual steps
 if (backgroundSection) {
  backgroundSection.steps.forEach(step => {
    stepTest.call(this, step);
  });
}
scenario.steps.forEach(step => {
  const newStep = Object.assign({}, step);
  newStep.text = replaceParameterTags(rowData, newStep.text);
  stepTest.call(this, newStep);
});
Am I missing something h

[2019-05-13 08:10] #157 closed

[2019-05-13 08:11] lgandecki commented on #156
@lucetius @sawasawasawa can you guys take a look and answer @RMoroney ? It might be that this doesn't work properly, if the quotation marks don't get ignored, there would be no way to set expressions.

[2019-05-13 08:12] lgandecki commented on #159
That would be preferable, yes. Currently not supported. I'd be happy to take a PR.

[2019-05-13 09:01] elisa-dc opened #161 "Tags not working as expected"
Hello,
I have the following feature files and tags:

Feature1.feature:
@regression
Scenario: Scenario1
....

Scenario: Scenario2
....

Feature2.feature:
Scenario: Scenario3
...

------------------------------------------------
I run my tests with the following command:
cypress run --env tags=@regression --browser chrome

Expected: only Scenario1 is run
Actual: all 3 scenarios are run

Is my comman

[2019-05-13 14:02] anilkoithara commented on #161
please read this might help you https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/156

[2019-05-14 06:05] lgandecki commented on #154
Closing it for now until you can give us more information

[2019-05-14 06:05] #154 closed

[2019-05-14 06:07] lgandecki commented on #149
Can you try setup like here: https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example  ? Maybe we should just suggest webpack for typescript  if that's less problematic.

For the code above - could you make a reproduction and push to github?

[2019-05-14 06:09] lgandecki commented on #126
@kellyprankin can you make a simple reproduction? You could still have a custom webpack config that would only be used by cypress cucumber preprocessor, even if angular hides its webpack config from you

[2019-05-15 11:29] zadigus opened #162 "The tags don't seem to work as advertised"
Hi,

I am not able to make the following tag syntax work
[code]
as [advertised](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/#tagging-tests).

Indeed, I have the [following feature](https://github.com/softozor/shopozor-management-frontend/blob/dev/cypress/integration/Authentication/ResetStaffPassword.feature):
[code]
I have also other feature files that are not provided with the

[2019-05-15 14:32] edupeeth opened #163 "Error: 'import' and 'export' may appear only with 'sourceType: module'"
Getting following error when trying to configure cucumber with typescript in cypress -

[code]

**cypress/plugins/index.js -**

[code]
**cypress/support/index.js -**

[code]

**cypress/integration/login/login.ts** -

[code]

**cypress/tsconfig.json -**

[code]

Any idea what am I missing here? I followed the following link - [link](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#ty

[2019-05-16 10:41] zadigus commented on #162
The problem arose because my feature file was malformed, which I got no mention about in the `cypress run`. I got that feedback from `cypress open`. With fixed feature file, the tag expression works perfectly as advertised. Sorry for the wrong issue.

[2019-05-16 10:41] #162 closed

[2019-05-17 13:13] stefanweck commented on #86
Before and after scenario commands would be really useful! But it feels like this repository isn't actively maintained.

[2019-05-17 15:26] lgandecki commented on #86
To be an open source maintainer - this package has had 6 releases since December last year, the userbase almost doubled from ~7k to 13k installations a week during that time, last change in the repo 4 days ago, but no, "not actively maintained" :-)

Unfortunately, we are doing this for free, and if a feature is not necessary to our business, and not trivial to implement, we won't be able to do eve

[2019-05-18 05:21] lgandecki commented on #163
I think this might be an issue related to using windows, please try cloning this example and seeing if it works for. you:

https://github.com/TheBrainFamily/cypress-cucumber-typescript-example/

[2019-05-18 05:24] lgandecki commented on #112
We now have an example for typescript working with webpack:
https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example/

and without it:

https://github.com/TheBrainFamily/cypress-cucumber-typescript-example/

I'm closing this thread for now, if you have a specific issue, after veryfing that the examples work, and that your configuration is in line with them, or if you need to s

[2019-05-18 05:24] #112 closed

[2019-05-18 05:25] lgandecki commented on #109
We now have an example for typescript working with webpack:
Hello, sorry for taking a long time to responde.

We now have examples for using TypeScript with Webpack:

https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example/

and without it:

https://github.com/TheBrainFamily/cypress-cucumber-typescript-example/

I'm closing this thread for now, if you have a specific issue, a

[2019-05-18 05:25] #109 closed

[2019-05-18 05:28] lgandecki commented on #126
We now have examples for using TypeScript with Webpack:

https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example/

and without it:

https://github.com/TheBrainFamily/cypress-cucumber-typescript-example/

I'm closing this thread for now, if you have a specific issue, after verifying that the examples work, and that your configuration is in line with them, or if you need to som

[2019-05-18 05:32] lgandecki commented on #126
(btw, I might work on an example for Angular at some point, if I have a bit of free time, just as an experiment, if I get it to work I will message here)

[2019-05-18 05:32] #126 closed

[2019-05-18 12:05] lgandecki commented on #156
@anilkoithara @RMoroney you guys are on windows, is that correct?

can you see whether the examples in this repo works correctly for you - https://github.com/TheBrainFamily/cypress-cucumber-example ?

@JamboBuenna can you clone and play around with https://github.com/TheBrainFamily/cypress-cucumber-example to verify whether it works correctly for you there? I'm not sure how to understand the probl

[2019-05-18 12:07] lgandecki commented on #161
@elisa-dc please check if everything works properly when you clone our example repo - https://github.com/TheBrainFamily/cypress-cucumber-example , if it does, and yours still doesn't, please make a simple reproduction. I played around with tags extensively, and I'm 100% confident they do work in general, so there is not enough details in your issue for me to figure out what's possibly wrong.

[2019-05-18 12:08] lgandecki commented on #159
We've added a new wrapper that allows this, please take a look here:
https://github.com/TheBrainFamily/cypress-cucumber-preprocessor#tagging-tests

and at the example provided in that section.

Thanks!

[2019-05-18 12:08] #159 closed

[2019-05-22 08:31] gevo20 opened #168 "Is it possible to run only tagged scenarios through Cypress runner?"
Hi, I would like to know, if it is possible to run only some of the Scenarios when running tests through Cypress runner.  (e.g. somehow use tags)
Thanks.

[2019-05-22 13:11] lgandecki commented on #168
Please take a look at the tag section in the documentation

[2019-05-22 13:11] #168 closed

[2019-05-23 13:08] badeball opened #169 "`cucumber-expressions` v7.0.0 is released"
Subject says it all.

[2019-05-23 13:11] lgandecki commented on #169
@badeball thanks for the notice. Are you aware of any particular changes we could benefit from? I took a look at https://github.com/cucumber/cucumber/blob/master/cucumber-expressions/CHANGELOG.md and seems to me that the 7.0.0 is more of a side-effect of the new versioning process.

[2019-05-23 13:55] badeball opened #170 "Support for nested steps"
In eg. `cucumber-ruby`, one has the ability to invoke steps from step definitions, as shown [here](https://relishapp.com/cucumber/cucumber/docs/defining-steps/nested-steps). It would be super cool to have this support in `cypress-cucumber-preprocessor` as well.

Right now, I've solved it using `resolveAndRunStepDefinition`, but I realize that this isn't part of the official API.

[code]

[code]

[2019-05-27 08:44] josselinbuils opened #172 "Provide defineStep to define generic steps"
Hello,

First, thank you for your work 🙏

Could it be possible to have access to the cucumber defineStep method to be able to create generic steps as some of them could either be used in a Given or a When for example ?

[2019-05-27 09:50] lgandecki commented on #172
Hello, thanks!

You can define your steps with any keyword and they will be usable (For example - define with Given and use as When).
If you feel there should be another method that defines but is not one of the exposed functions, please feel free to add a PR that adds this command (it should internally do exactly the same thing that Given/When/Then/And/But are doing). Should be rather trivial to

[2019-05-27 11:04] moinuddin14 commented on #155
I too see the same issue. I think we don't have the support of Cucumber completely yet with Cypress +  mochawesome Reports.

[2019-05-27 12:47] novarichuffman commented on #155
I think it would be a great addition

[2019-05-27 21:04] dfawole commented on #126
@lgandecki
Need your assistance , I have different feature files that is testing different part of the system and I wanted to create different steps in .ts files to test each features, following the examples you gave , I can only create on step file(.ts) for all the feature files, when I created a folder for other steps, I got the below error `./cypress/integration/Mobile/mobile.ts
Module not foun

[2019-05-28 08:26] lgandecki commented on #126
Hard to say.. I might need a very simple reproduction to see what's going on. At least how the mobile.ts looks like in terms of what it imports.
Also, could you please create another issue so we don't spam the good folks that are part of this one?

[2019-05-28 12:20] dfawole opened #174 "Unable to create different steps(.ts) files for different feature files using typescript"
@lgandecki
Need your assistance , I have different feature files that is testing different part of the system and I wanted to create different steps in .ts files to test each features, following the examples you gave , I can only create on step file(.ts) for all the feature files, when I created a folder for other steps, I got the below error

[code]
I did set

[code]

And when I use the same step

[2019-05-28 12:23] dfawole commented on #126
@lgandecki
Thanks for your response , I have created a new issue has you said and created a repo to see the structure.. the link to the issue [https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/174](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/174 )

[2019-05-28 12:24] lgandecki commented on #174
@dfawole  the repo seems to be private, could you make it public?

[2019-05-28 12:27] dfawole commented on #174
@lgandecki
I have given you access now
[https://github.com/dfawole/tests/invitations](https://github.com/dfawole/tests/invitations)

[2019-05-28 12:28] dfawole commented on #174
Thanks for your quick response

[2019-05-28 12:54] lgandecki commented on #174
I would still prefer you made it public - why do you want to limit the audience just to yourself. Someone might stumble upon the same problem and they will end up hitting a dead link. Not very nice, especially if you are asking for a free help :)

but anyway, the problem is that you can't use const {something} = require('module') in multiple files,
I will tweak this in the example repo.

https://g

[2019-05-28 13:00] #174 closed

[2019-06-03 09:29] dfawole commented on #174
@lgandecki

Thanks for your help .... I have made it public and it was an oversight from my side

[2019-06-03 12:54] gabrielcartelli opened #175 "How to fix the problem with tags that doesn't work (windows)!"
In windows, the tags doesn't work because there is a problem in \node_modules\cypress-cucumber-preprocessor/cypress-tags.js.

For to fix, you need to alter the line 50 of the cypress-tags.js

how is:
${__dirname}/../.bin/cypress,

how have to be:
process.platform == 'win32' ? ${_dirname}/../.bin/cypress.cmd : ${_dirname}/../.bin/cypress,

https://github.com/gabrielcartelli/cucumber-fixed-up.git

[2019-06-03 13:02] lgandecki commented on #175
Hey thanks, would you be able to create a PR with this change ? :)

[2019-06-03 14:14] gabrielcartelli commented on #175
Of course!
https://github.com/gabrielcartelli/cucumber-fixed-up.git

[2019-06-04 16:03] juliomatcom commented on #156
I have this same issue at work, I'm using Ubuntu 18.04 (bionic) with node v8.12.0, when I run `cypress open -e TAGS=@functional` it runs test labeled scenarios/features with only `@acceptance` can't find why.

[2019-06-04 17:17] sawasawasawa commented on #156
@juliomatcom could you try to reproduce a failing example on https://github.com/TheBrainFamily/cypress-cucumber-example?

[2019-06-05 08:31] juliomatcom commented on #156
Hey @sawasawasawa, I just tried and play with the `cypress-cucumber-example`, tests works perfect, still have the problem in my main project tough. Will post any update here. Thank you.

[2019-06-05 09:05] juliomatcom commented on #156
So, I found the problem in my project, **cypress import all the steps file always**, doesn't matter the tags you passed in, so we were declaring constants in one step file that required one environment var for a special feature, so that makes our tests fail even when filtering that particular feature. We fix it by just move the constants inside the definition of the steps (functions Given, etc).
H

[2019-06-05 09:29] sawasawasawa commented on #156
Thanks for the update @juliomatcom 🙇

[2019-06-05 13:54] RMoroney commented on #156
@lgandecki I tried but expression for tags like` --env TAGS='@regression and @critical'` doesn't work but I got the reason for it. When we assign one tag at feature level and another at test scenario level and try a expression with that it doesn't  work -
Example :
`@regression @planning
Feature: addAnApplication

  Background:
    Given I am on Planning Page

  @high
  Scenario: C23010 - Verify '

[2019-06-05 20:10] sawasawasawa commented on #156
@RMoroney you're right, we are missing [tag inheritance] (https://cucumber.io/docs/cucumber/api/#tag-inheritance) here. Thanks for pointing that out :) We'll keep you posted on the update here.

[2019-06-10 20:08] claudiunicolaa opened #177 "Running cypress from another directory - Error: Step implementation missing for"
Hi,

If I open cypress from the project root (`npx cypress open`) and run a scenario (`.feature` file), I received the following message:
<img width="1552" alt="Screenshot 2019-06-10 at 23 00 56" src="https://user-images.githubusercontent.com/15197275/59223065-b60a4f00-8bd3-11e9-97ba-8eb6dd20eb06.png">

I created a repository that simulates my project structure (https://github.com/claudiunicolaa/c

[2019-06-11 22:16] artkuznetsov commented on #177
+1. The same problem.

[2019-06-12 11:22] nickdunn commented on #175
I've created a PR: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/pull/178

[2019-06-12 13:32] lgandecki commented on #175
This is released now, thanks to both of you!

[2019-06-12 13:32] #175 closed

[2019-06-12 13:32] lgandecki commented on #172
This is released now, thanks!

[2019-06-12 13:32] #172 closed

[2019-06-12 14:57] lutr01 opened #180 "The data table for the full scenario"
Hello, in Specflow .net framework, they have the option to actually use Examples for the whole testing scenario. Example:

Given I navigate to the home page using device: {device}
When blablabla
The blablablabla

Examples:

|device|
|iphone-6|
|Ipad-3|
|another device|
|......|

Where eaach  row in the examples table is new test.

I have been trying to find the solution, however was not able to :(

[2019-06-12 15:02] lutr01 commented on #180
Sorry, found the solution...

[2019-06-12 15:02] #180 closed

[2019-06-19 17:09] aleccool213 opened #183 "Error when running from pnpm installation"
cypress-cucumber-preprocessor includes templates which generates application code that imports gherkin, e.g.

[code]

source: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/blob/e0d043d062abd54a4cb5ef5c0ad65a93a6c63c26/lib/loader.js#L19

Normally, this is not a problem when using popular package managers like
npm / yarn because 'gherkin' is a direct
dependency of cypress-cucumber-

[2019-06-19 17:12] lgandecki commented on #183
Oh, interesting...
But won't that mean that the plugin will stop working (with an ugly error) for all the existing users that decide to upgrade? If you install gherkin manually in your top level repo, will it work?

[2019-06-19 17:15] aleccool213 commented on #183
@lgandecki Installing it manually works in your top level repo, a peer dependancy :)

[2019-06-19 18:02] lgandecki commented on #183
hmm... So how about we add information to the documentation that if you use strict package manager you should add gherkin to your dependencies manually? I think we should make it the smoothest experience for the majority of users.. not the other way around.

[2019-06-19 18:12] aleccool213 commented on #183
@lgandecki That's fine. 👍

[2019-06-21 13:32] gabrielfign commented on #155
up

[2019-06-28 02:39] chenhaizhou commented on #155
expecting

[2019-06-28 11:37] scantisani opened #185 "Update @cypress/browserify-preprocessor dependency to ^2.0.0?"
Cypress-cucumber-processor depends on version 1.1.2 of [`@cypress/browserify-preprocessor`](https://github.com/cypress-io/cypress-browserify-preprocessor), which has a transitive dependency on an old version of [`braces`](https://github.com/micromatch/braces) (1.8.5). Versions of `braces` below 2.3.1 have a [REDOS vulnerability](https://npmjs.com/advisories/786).

Upgrading to `@cypress/browserify

[2019-06-29 17:06] decebal commented on #61
wow, what an ugly hack!! why would you want to infer 'given' instead of importing the type ?

import and export make the most sense in typescript, solving the problem reported here makes me want to think 🤔 that I don't want to use cypress, ever.

[2019-07-01 09:49] edoloughlin opened #186 "Works on Windows, fails on Linux"
I opened [issue 4557](https://github.com/cypress-io/cypress/issues/4557) on the main Cypress repo but thought I'd link it here in case anyone has seen this.

I'm using cypress-cucumber-preprocessor on a new Angular 8 project. Cypress runs fine on Windows. The logs show that it's using `browersify` to run its `plugins/index.js` file. On Linux, it's using `webpack` and the `plugins/index.js` file do

[2019-07-02 06:01] jcundill commented on #155
https://github.com/jcundill/cypress-cucumber-preprocessor/tree/rebaseupstream

https://github.com/jcundill/cypress-cucumber-preprocessor/tree/rebaseupstream#cucumberjson-file-generation

[2019-07-02 18:30] jimmyandrade commented on #185
@danielcn and I are experiencing the same problem. Here's our dependency tree (highlighting `braces`):

[code]

When we run `npm audit` we find this:

[code]

The last version of [@cypress/browserify-preprocessor](https://www.npmjs.com/package/@cypress/browserify-preprocessor) is 2.1.1.

Please update `@cypress/browserify-preprocessor` dependency to ^2.1.1 🙏

[2019-07-02 21:37] avais88786 commented on #155
@jcundill, thanks for the wonderful effort.
I tried using it but I am always getting an empty json file generated.
The naming convention is not exact, its always coming as "cucumber-C" (suffix is ignored)
Config:
[code]

[2019-07-02 22:56] jcundill commented on #155
Thanks for the feedback - you are right seems that the json file suffix stuff is not working correctly - however we are getting properly generated cucumber.json files from this - do you maybe want to raise an bug against my fork and post some minimal config to reproduce the empty file issue so I can track your problem down.

<img width="1375" alt="Screenshot 2019-07-02 at 23 50 52" src="https://us

[2019-07-03 02:03] ldsenow opened #187 "Parse error when the feature file has Examples"
Hi there,

I am having issue in the feature file as long as I put in the Examples section.
Below is my feature file

Feature: Login
    Background:
        Given I am in Login page

    Scenario: User with 2FA enabled should encounter 2FA challenge during authentication
        And I enter a valid "<username>"
        And I enter a valid "<password>"
        When I click the "Log In" button

[2019-07-03 18:55] avais88786 commented on #155
@jcundill thanks for your reply. I tried a lot of scenarios: deleting node modules and reinstalling, change feature file name, move feature file location, etc. Everything seem to generate the empty file.
I have raised a bug against your fork, please look into this, looking forward to using it, in fact we are going to be using commercially with a large team so cheers for all help.
Bug link: https:/

[2019-07-04 00:24] ldsenow commented on #155
Strongly expecting this

[2019-07-05 07:55] san-ouadghiri commented on #56
https://youtrack.jetbrains.com/issue/WEB-32819 for follow-up. You can "thumb-up" to make it gain interest, and/or watch the issues for updates.

[2019-07-05 13:13] akaan commented on #187
This is a Gherkin parse error. Examples need to be embedded in Scenario outlines blocks : see https://cucumber.io/docs/gherkin/reference/#scenario-outline

[2019-07-06 02:10] sagorla commented on #155
@jcundill, thanks for the cucumber JSON generation with cypress. it's working perfectly. And also I am able to generate the html report with "multi cucumber reporter"
Here I wanted to check with you how I can attach some text/screenshot to the report.

For Example:
https://github.com/cucumber/cucumber-js/blob/HEAD/docs/support_files/attachments.md

[2019-07-06 06:09] colinwirt commented on #187
on this topic @akaan are you aware if Gherkin  v6 will be supported by the preprocessor?

That will make it much easier to teach the syntax to new starters as tens like Scenario Outline will no longer be required.

[2019-07-06 06:57] jcundill commented on #155
Text describing the failure should already be in the report for failing and missing steps
If this is not the case for you, please raise an issue against my fork and I'll fix it up.

<img width="1275" alt="Screenshot 2019-07-06 at 07 53 01" src="https://user-images.githubusercontent.com/49795386/60752906-49605580-9fc3-11e9-8243-9b61dcc08516.png">

[2019-07-06 07:22] jcundill commented on #155
Screenshots can be generated a couple of ways
 1) using cy.screenshot - I haven't added support for this to my fork, should be doable fairly easily by getting the onAfterScreenshot to feed the image data to the cucumber JSON data collector object.

2) automated screen shots (and videos) of failed steps directly from cypress.

This second option is what we wanted to try and include in our reports,

[2019-07-06 07:36] jcundill commented on #155
@avais88786 Everything should be working fine on Windows boxes now, I fixed and closed https://github.com/jcundill/cypress-cucumber-preprocessor/issues/8

Please let me know if you are still having issues here

[2019-07-06 13:20] sagorla commented on #155
Thanks, @jcundill for your quick replay.

you are right "Text describing the failure" and  "Failing steps missing"  are coming through the report.

it would very helpful if you support cy.screenshot & cy.log().

[2019-07-08 09:23] lgandecki commented on #187
Not sure how those two things are connected but I don't think there is any reason to NOT support gherki v6. We haven't got around to it yet, but it should be a straightforward update. I'd be happy to take a PR as well :)

Closing this for now, thanks @akaan for helping out @colinwirt !

[2019-07-08 09:23] #187 closed

[2019-07-10 09:49] avais88786 commented on #155
Thanks @jcundill for the quick fix and apologies for late reply. I can confirm this now works as expected on windows and my scenarios. Can we have your branch merged on master please?

[2019-07-11 20:47] darrinholst opened #189 "feature startup speed"
Longtime cucumber user, but relatively new to cypress so first, thank you for this!

It seems that cypress resets the world between each feature file. That results in some noisy logging after each feature...

[code]

I could live with the logging, but my main problem is that this more than doubles the execution time for the test run of all features.

The tests are pretty fast once they get going,

[2019-07-13 05:55] lgandecki commented on #82
I believe this was done in the #153 , not sure why it didn't close automatically

[2019-07-13 05:55] #82 closed

[2019-07-16 10:54] lgandecki commented on #189
I think this might be a problem with how cypress works itself. If you do NOT use cucumber, and just write mocha spec files, would that be any faster? Would you like to check?

[2019-07-16 12:10] darrinholst commented on #189
@lgandecki That was my assumption but thought I'd check to see if I was missing anything obvious. Is there anything debugging related here that would convert features to specs and write them out to disk?

[2019-07-16 12:31] darrinholst commented on #189
Closing this. It's just the way cypress works. Their answer is probably [parallelization](https://docs.cypress.io/guides/guides/parallelization.html#Overview).

It would be nice to have a way to create a "mega" feature with some extra gherkin syntax to be able to "import" features so we can still split them up by file, but allow them to run in the same mocha spec.

[2019-07-23 14:20] bene-starzengruber opened #192 "TypeError: Path must be a string. Received undefined"
Hello :)

I just tried out your example from
https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example

I executed "npm install" and then tried to run the tests "npm run test" and the result was
[code]

Br, bene